# Variables and Data Types

## (1) Types of variables

**(1.1) Define a variable with the name <code>year</code> and assign the string value <code>2021</code> to the variable.**

In [1]:
year = '2021'

**(1.2) Print the type of each of the following values: <code>10, 0.5, '100'.</code>**

In [2]:
print(type(10))
print(type(0.5))
print(type('100'))

<class 'int'>
<class 'float'>
<class 'str'>

## (2) String

**(2.1) Define a variable named <code>mycourse</code> and assign the string value <code>Introduction to Python</code> to the variable.**

In [3]:
mycourse = 'Introduction to Python'

**(2.2) Get the length of the string variable <code>mycourse</code>.**

In [4]:
len(mycourse)

22

**(2.3) Get the first five characters in <code>mycourse</code>.**

In [5]:
mycourse[0:5]

'Intro'

**(2.4) Get the last two characters in <code>mycourse</code>.**<br>
https://docs.python.org/3/tutorial/introduction.html#strings

In [6]:
mycourse[-2:]

'on'

**(2.5) Convert <code>mycourse</code> to lowercase.**

In [7]:
mycourse.lower()

'introduction to python'

**(2.6) Find the index position of the substring "to".**

In [8]:
mycourse.find("to")

13

**(2.7) Check if <code>mycourse</code> contains the word "computer".**

In [9]:
"computer" in mycourse

False

## (3) Numbers

**(3.1) Define a variable $x=6$. Print the type of $x$.**

In [10]:
x = 6
print(type(x))

<class 'int'>

**(3.2) Define a variable $y=-0.15$. Get the absolute value of $y$.**

In [11]:
y = -0.15
abs(y)

0.15

**(3.3) Define a variable $z = 3.14159$. Round $z$ to only two decimal places.**

In [12]:
z = 3.14159 
round(z,2)

3.14

## (4) Operators

**(4.1) Use the variables defined in (3), multiply $x$ with $z$ and round the number to four decimal places.**

In [13]:
round(x*z,4)

18.8495

**(4.2) Calcualte the remainder after dividing $5$ by $2$.**

In [14]:
5%2

1

**(4.3) Calculate $\frac{1000+24}{64\times2}.$**

In [15]:
(1000+24)/(64*2)

8.0

**(4.4) Define two variables, $a = 12$, $b = 9$, calculate the value of $c$, where $c = \sqrt{a^2+b^2}.$**

In [16]:
a = 12
b = 9
c = (a**2 + b**2)**0.5
print(c)

15.0

**(4.5) Use comparison operator to check if $a\le b$.**

In [17]:
a <= b

False

**(4.6) Use comparison operator to check if $a\ne b$.**

In [18]:
a != b

True

**(4.7) Given the following two variables. Check if the first two letters of <code>s1</code> are the same as the third and fourth letters of <code>s2</code>.**<br>

In [19]:
s1 = "python"
s2 = "jupyter"

In [20]:
s1[0:2] == s2[2:4]

True

## (5) Input & Ouput

**(5.1) Write a program that asks the user to enter a city and prints out the greeting message.**<br>
Expected result:<br>
City name: <code>Oslo</code>    
Welcome to Oslo!

In [21]:
city = input ("City name:")
print(f"Welcome to {city}!")

City name:Oslo
Welcome to Oslo!

**(5.2) Write a program that asks the user to enter two numbers. Prints out the product of these variable in the following format.**<br>
The product of __ and __ is ___.<br>

First number: <code>10</code><br>
Second number: <code>5</code><br>
The product of 10 and 5 is 50.

In [22]:
n1 = int(input("First number: "))
n2 = int(input("First number: "))
print(f"The product of {n1} and {n2} is {n1*n2}.")

First number: 10
First number: 5
The product of 10 and 5 is 50.

**(5.3) Write a program that asks the user to enter a temperature in Celsius. Convert the temperature to Fahrenheit and print the result.**<br>
Hint: ${ Fahrenheit = ( Celsius \times 9 ) \div 5 + 32}$<br>

Expected result:<br>
Enter Celsius Temperature: <code>20</code><br>
Fahrenheit Temperature: 68.0

In [23]:
# solution-1
c = float(input("Enter Celsius Temperature: "))
f = (c*9)/5+32
print("Fahrenheit Temperature:", f)

Enter Celsius Temperature: 20
Fahrenheit Temperature: 68.0

In [24]:
# solution-2
c = float(input("Enter Celsius Temperature: "))
print(f"Fahrenheit Temperature: {(c*9)/5+32}")

Enter Celsius Temperature: 20
Fahrenheit Temperature: 68.0

**(5.4) Define four variables, city1 = "Oslo", city2 = "Bergen", city3 = "Stavanger", city4 = "Trondheim". Print these cities in one line and connect them by <code>&</code>.**<br>
Expected result:<br>
<code>Oslo\&Bergen&Stavanger&Trondheim</code>

In [25]:
city1 = "Oslo"
city2 = "Bergen"
city3 = "Stavanger"
city4 = "Trondheim"
print(city1, city2, city3, city4, sep = "&")

Oslo&Bergen&Stavanger&Trondheim

**(5.5) Try modifying the following code to print these sentences line by line.**<br>
Expected result:
<code>
Solve complex business problems with analytical thinking.
Work alongside data scientists to find new insights.
Become part of a promising new field aiming to disrupt traditional banks and financial institutions.
</code>

In [26]:
print("Solve complex business problems with analytical thinking. Work alongside data scientists to find new insights. Become part of a promising new field aiming to disrupt traditional banks and financial institutions.")

Solve complex business problems with analytical thinking. Work alongside data scientists to find new insights. Become part of a promising new field aiming to disrupt traditional banks and financial institutions.

In [27]:
print("Solve complex business problems with analytical thinking. \nWork alongside data scientists to find new insights. \nBecome part of a promising new field aiming to disrupt traditional banks and financial institutions.")

Solve complex business problems with analytical thinking.
Work alongside data scientists to find new insights.
Become part of a promising new field aiming to disrupt traditional banks and financial institutions.

**(5.6) Write a program that asks the user to enter their birthday in the format <code>yyyymmdd</code>. The program should then print out their birthday in the new format  <code>dd-mm-yyyy</code>.** (<code>dd</code> is the day, <code>mm</code> is the month, and <code>yyyy</code> is the year.)<br>
Example:

When is your birthday (yyyymmdd)? <code>20021025</code><br>
25-10-2002<br>

In [28]:
date = input("When is your birthday (yyyymmdd)? ")
print(f"{date[6:8]}-{date[4:6]}-{date[0:4]}")

When is your birthday (yyyymmdd)? 20021025
25-10-2002