# Lists

## (1)
**(1.1) Define a list named <code>num_list</code>, which contains the following elements: <code>10,20,30,40,50,60</code>. Print out the list.**

In [1]:
num_list = [10,20,30,40,50,60]
num_list

[10, 20, 30, 40, 50, 60]

**(1.2) Use <code>num_list</code> defined in (1.1). Print the first three elements of the list.**

In [2]:
num_list[0:3]

[10, 20, 30]

**(1.3) Use <code>num_list</code> defined in (1.1). Print the last two element in the list.**

In [3]:
num_list[-2:]

[50, 60]

**(1.4) Print the sum of all elements in <code>num_list</code>.**

In [4]:
sum(num_list)

210

**(1.5) Print the sum of the last three elements in <code>num_list</code>.**

In [5]:
sum(num_list[-3:])

150

## (2)
**(2.1) Considering the list below. Add an element <code>Sunday</code> to the end of the list and print out the updated list.**<br>

In [6]:
day_list = ['Monday','Tuesday','Wednesday','Thursday','Friday']

In [7]:
day_list.append('Sunday')
day_list

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Sunday']

**(2.2) Instert an element <code>Saturday</code> between Friday and Sunday. Print out the updated list.**

In [8]:
day_list.insert(5, "Saturday")
day_list

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

**(2.3) Print the first three letters of the last element.**

In [9]:
day_list[-1][:3]

'Sun'

## (3)
**(3.1) A store sells four products and the product information is stored in the following format. Print out the price of salmon.**<br>
<code>[Product_ID, Product_Price, Product_Name]</code>

In [10]:
item_list = [[1,'10kr','apple'],[2,'30kr','bread'],[3,'70kr','salmon'],[4,'40kr','juice']]

In [11]:
item_list[2][1]

'70kr'

**(3.2) Use the list in (3.1). Replace the fourth product with <code>['35kr', 'yogurt']</code>.**<br>
Expected result:
<code>
[[1,'10kr','apple'],
 [2,'30kr','bread'],
 [3,'70kr','salmon'],
 [4,'35kr','yogurt']]
</code>

In [12]:
item_list[3][1:] =['35kr', 'yogurt']
item_list

[[1, '10kr', 'apple'],
 [2, '30kr', 'bread'],
 [3, '70kr', 'salmon'],
 [4, '35kr', 'yogurt']]

## (4)
**(4.1) Define two lists: <code>list_A</code> contains the elements <code>10, 4, 6</code>, and <code>list_B</code> contains the elements <code>8, 5, 12, 9</code>. Print out the number of elements in each of the two lists.**

In [13]:
list_A = [10, 4, 6]
list_B = [8, 5, 12, 9]
print(len(list_A))
print(len(list_B))

3
4

**(4.2) Append all elements in <code>list_B</code> to <code>list_A</code>. Print out the updated <code>list_A</code>.**
<br>
Expected result:<br>
[10, 4, 6, 8, 5, 12, 9]

In [14]:
list_A.extend(list_B)  
list_A

[10, 4, 6, 8, 5, 12, 9]

**(4.3) Sort the elements of <code>list_A</code> in descending order.**<br>

In [15]:
list_A.sort(reverse = True)
list_A

[12, 10, 9, 8, 6, 5, 4]

**(4.4) Use <code>pop</code> function to remove the second element of <code>list_A</code>. Print the updated list and the removed element.**

In [16]:
d = list_A.pop(1)
print(list_A)
print(d)

[12, 9, 8, 6, 5, 4]
10

**(4.5) Remove the last two elements of <code>list_A</code>. Print the updated list.**<br>
Hint: Use <code>del</code>

In [17]:
del list_A[-2:]
print(list_A)

[12, 9, 8, 6]

## (5)
**(5.1) Below are the daily reported COVID-19 cases in the past two weeks (14 days). For example, 207 cases were reported on day 1 and 271 cases were reported on day 14. Use a list to store these values. Print the highest number of cases reported during this period.**
- 207,111,129,154,202,207,215,203,150,145,262,282,276,271

In [18]:
mylist = [207,111,129,154,202,207,215,203,150,145,262,282,276,271]
max(mylist)

282

**(5.2) Calculate the average daily number of reported cases for the first week (day1-day7).**

In [19]:
sum(mylist[:7])/7

175.0

**(5.3) Reverse the elements in the list defined in (5.1), making the data newest to oldest. For example, the first element of the updated list should be the reported cases on day 14 and the last element should be the reported cases on day 1. Print out the updated list.**<br>
Hint: Search the list method to solve this task https://www.geeksforgeeks.org/list-methods-in-python-set-2-del-remove-sort-insert-pop-extend/<br>
Expected result:<br>
[**271**, 276, 282, 262, 145, 150, 203, 215, 207, 202, 154, 129, 111, **207**]

In [20]:
mylist.reverse()
mylist

[271, 276, 282, 262, 145, 150, 203, 215, 207, 202, 154, 129, 111, 207]

## (6)

**(6.1) Define a string variable with the following value. Get the length of this string variable.**<br>
'Wind energy is expected by groups including the International Energy Agency and the International Renewables Energy Agency to form the backbone of global electricity generation by 2050.'

In [21]:
snippet = 'Wind energy is expected by groups including the International Energy Agency and the International Renewables Energy Agency to form the backbone of global electricity generation by 2050.'
print(len(snippet))

185

**(6.2) Print out the frequency of the word "energy". (Note: Ignore case when calculating frequency.)**

In [22]:
snippet_new = snippet.casefold()
word_list = snippet_new.split()
word_list.count('energy')

3