## (1) While loop

**(1.1) Write a while loop to print out the following sequence of numbers in one line.**<br>
Expected result:<br>
<code>3 6 9 12 15 18 21 24 27 30 </code>

**(1.2) Write a program that requires the user to enter a range. Use a while loop to print all even numbers in this range.**
<br>
Example:<br>
From: <code>18</code><br>
To: <code>30</code><br>
**18** 20 22 24 26 28 **30**

**(1.3) Suppose you deposit $10,000 in a bank account with an annual interest rate of 5%. Print out the annual balance every year until your balance reaches 15,000.** (Round the number to two decimal places.)<br>
Hint: interest = balance*0.05<br>

Expected result:
<code>
10500.00
11025.00
11576.25
12155.06
12762.82
13400.96
14071.00
14774.55
15513.28
</code>

**(1.4) Write a program that asks the user to enter a password. If the entered password is <code>python123</code>, print <code>'Successful login'</code>, otherwise, print <code>'Wrong password'</code> and ask again.**<br>
Hint: Put the input box in the while loop.<br>

Example:<br>

Enter your password: <code>test</code><br>
Wrong password<br>
Enter your password: <code>1234</code><br>
Wrong password<br>
Enter your password:<code>python123</code><br>
Successful login<br>

## (2) For loop

**(2.1) Write a for loop to print out the following result.<br>**
Expected result:
<code>    
Happy New Year 2021!
Happy New Year 2022!
Happy New Year 2023!
Happy New Year 2024!
</code>

**(2.2) Write a program that asks the user to enter a positive number. Calculate the factorial of this number.**<br> 
Hint: The factorial of $n$ is the product of all the integers from $1$ to $n$. It is denoted by an exclamation sign (!). For example, the factorial of 6 is $6! = 1\times2\times3\times 4\times5\times6 = 720$.<br> 


Expected result:<br> 
Enter a positive number:<code>6</code>   
720

**(2.3) Write a program that requires the user to enter a range. Use a for loop to print all numbers in this range that are divisible by 5.**

<br>
Example:<br>
From: <code>20</code><br>
To: <code>55</code><br>
20 25 30 35 40 45 50 55

**(2.4) Suppose you deposit $10,000 in a bank account with an annual interest rate of 5%. Print out the annual balance for the next five years and round the number to two decimal places.**<br>
Hint: interest = balance*0.05<br>

Expected result:
<code>
Year-1: 10500.00
Year-2: 11025.00
Year-3: 11576.25
Year-4: 12155.06
Year-5: 12762.82
</code>

**(2.5) Given the list below that represents your daily spend for 10 days. Assuming you have a balance of 3000 on day 0, print the balance for each day from day 1 to day 10.** The balance at the end of day 1 is 3000-340 = 2660.<br>

Expected result:<br>
2660<br>
2430<br>
...<br>
...<br>
560

In [ ]:
spend = [340, 230, 150, 180, 350, 110, 490, 210, 260, 120]

**(2.6) Considering the list below. How many elements in the list are greater than 100?**

In [ ]:
numbers = [10, 40, 199, 20, 344, 300, 4, 55, 1, 4000, 99, 320, 32, 300, 22,
           12, 99, 111, 23, 93, 44, 93, 2, 3, 9, 100, 399, 33, 99, 555, 43]

**(2.7) Given the following list of sublists, where the first element in the sublist is "customer name" and the second element is "age". Count the number of customers between the ages of 20 and 25 (inclusive).**

In [ ]:
customer_list = [["Henry",28],["Victoria",33], ["Issac",19],["Maya",20],["Zoe",25],
                ["Nora",21],["Madelyn",29], ["Michael",35],["Mathew",23],["Sophia", 18]]

**(2.8) Find the shortest company name in <code>company_list</code> and print that company name.**

In [ ]:
company_list = ["AirGarage","Airtable", "DoorDash","Dave","Bloomscape","Robinhood"]

**(2.9) Suppose you are rolling a pair of dice. Print out all possible results.**<br>
Expected result:<br>
1&1 1&2 1&3 1&4 1&5 1&6 <br>
2&1 2&2 2&3 2&4 2&5 2&6 <br>
3&1 3&2 3&3 3&4 3&5 3&6 <br>
4&1 4&2 4&3 4&4 4&5 4&6 <br>
5&1 5&2 5&3 5&4 5&5 5&6 <br>
6&1 6&2 6&3 6&4 6&5 6&6

**(2.10) Write a nested for loop to print out the following pyramid pattern.**<br>
1 <br>
2 2 <br>
3 3 3 <br>
4 4 4 4 <br>
5 5 5 5 5 <br>
6 6 6 6 6 6 <br>

**(2.11) The profit of selling a unit of product A is 10, and the profit of selling a unit of product B is 15. Let $q_A$ and $q_B$ be the sales units of product A and product B, respectively. Calculate profit with sales $q_A$ ranging from 3 to 5 and sales $q_B$ ranging from 5 to 10.**<br>

Expected result:<br>
The profit of selling 3 units of product A and 5 units of product B is 105.<br>
The profit of selling 3 units of product A and 6 units of product B is 120.<br>
...  
The profit of selling 3 units of product A and 10 units of product B is 180.<br>
...<br> 
...<br> 
The profit of selling 5 units of product A and 9 units of product B is 185.  
The profit of selling 5 units of product A and 10 units of product B is 200.<br>

**(2.12) Write a program that asks user to enter a password. Given the following rules, check if the entered password is valid. If yes, print "Valid password", if not, print "Invalid password".**<br>
- Contains at least one number. (Hint: use string method <code>isdigit()</code>)
- Contains at least one uppercase letter. (Hint: use string method <code>isupper()</code>)

Example-1:<br>
Enter your password: <code>python_@!</code><br>
Invalid password<br>

Example-2:<br>
Enter your password: <code>Python123</code><br>
Valid password<br>