# Loop Statements

## (1) While loop

**(1.1) Write a while loop to print out the following sequence of numbers.**<br>
Hint: To print all numbers in one line, you can use the argument <code>end = " ".</code><br>
Expected result:<br>
<code>3 6 9 12 15 18 21 24 27 30 </code>

In [ ]:
# put your code here

**(1.2) Write a program that requires the user to enter a range. Use a while loop to print all even numbers in this range.**
<br>
Expected result:
<code>
from: 18
to: 30
18 20 22 24 26 28 30 
</code>

In [ ]:
# put your code here

**(1.3) Suppose you deposit $10,000 in a bank account with an annual interest rate of 5%. Print out the annual balance every year until your balance reaches 15,000. (Round the number to two decimal places)**<br>
Hint: interest = balance*0.05<br>
Expected result:
<code>
10500.0
11025.0
11576.25
12155.06
12762.82
13400.96
14071.0
14774.55
15513.28
</code>

In [ ]:
# put your code here

**(1.4) Define an input box named <code>pw</code> to require the user to enter a password. If pw is 'python2021', print 'Successful login'; if not, print 'Wrong password' and ask again.**<br>
Hint: Put the input box in the while loop.<br>
Expected result:
<code>
Enter your password: test
Wrong password
Enter your password: 1234
Wrong password
Enter your password: python2021
Successful login
</code>

In [ ]:
# put your code here

## (2) For loop

**(2.1) Write a for loop to print out the following result.<br>**
Expected result:
<code>    
Happy New Year 2021
Happy New Year 2022
Happy New Year 2023
Happy New Year 2024
</code>

In [ ]:
# put your code here

**(2.2) Write a program that asks the user to enter a positive number. Calculate the factorial of this number.**<br> 
Hint: The factorial of n is the product of all the integers from 1 to n. It is denoted by an exclamation sign (!).<br> 
For example, the factorial of 6 is $6! = 1\times2\times3\times 4\times5\times6 = 720$.<br> 
Expected result:
<code>    
Enter a positive number: 6
720
</code>

In [ ]:
# put your code here

**(2.3) Write a program that requires the user to enter a range. Use a for loop to print all even numbers in this range.**
<br>
Expected result:
<code>
from: 18
to: 30
18 20 22 24 26 28 30 
</code>

In [ ]:
# put your code here

**(2.4) Suppose you deposit $10,000 in a bank account with an annual interest rate of 5%. Print out the annual balance for the next five years.**<br>
Hint: interest = balance*0.05<br>
Expected result:
<code>
Year-1: 10500.00
Year-2: 11025.00
Year-3: 11576.25
Year-4: 12155.06
Year-5: 12762.82
</code>

In [ ]:
# put your code here

**(2.5) Considering the following list. Use a for loop to print all names starting with 'S'.**

In [ ]:
friend_list = ["Henry", "Victoria","Isaac", "Sara", "Zoe","Isabelle", "Nora", "Madelyn", "Sophia",
             "Charlotte", "Michael","Sebastian","Leah", "Ryan", 'Matthew', "Mila"]

In [ ]:
# put your code here

**(2.6) Considering the list below. Calculate the number of elements in the list are above 100.**

In [ ]:
numbers = [10, 40, 199, 20, 344, 300, 4, 55, 1, 4000, 99, 320, 32, 300, 22,
           12, 99, 111, 23, 93, 44, 93, 2, 3, 9, 100, 399, 33, 99, 555, 43]

In [ ]:
# put your code here

**(2.7) Count the number of uppercase letters in <code>mystr</code>.**<br>
Hint: Try <code>str.isupper?</code> to see how to check if a letter is uppercase.

In [ ]:
mystr = "Tesla started deliveries of the Model Y in Europe last month, and within a week it became the best-selling vehicle in Norway."

In [ ]:
# put your code here

**(2.8) In statisitcs, SSE (Sum of Squared Error) is used to see the difference between each observation and its group mean. It can be used as a measure of variation within a group. If all numbers within a group are identical the SSE would then be equal to 0.**<br> 
The formula for SSE is:

<center>$SSE = \sum_{i=1}^{n}(X_{i} -\bar{X})^{2}$, where $X_{i}$ is the $i$th observation and $\bar{X}$ is the group's mean.</center><br>


Suppose you have a list of numbers, <code>1, 2, 3, 4, 5</code>.<br>
The group mean  $\bar{X}=\dfrac{(1+2+3+4+5)}{5}=3$ <br> 
The Sum of Squared Error $SSE =(1-3)^{2} + (2-3)^{2}+ (3-3)^{2}+ (4-3)^{2}+ (5-3)^{2} = 10 $<br>

**(step1) Calculate the group mean of <code>mylist</code>.<br>
(step2) Use a for loop to calculate the SSE of the numbers in <code>mylist</code>.**

In [ ]:
mylist = [1,2,3,4,5]

In [ ]:
# put your code here

**(2.9) Suppose you are rolling a pair of dice. Print out all possible results.**<br>
Example:<br>
1&1 1&2 ... 1&6 <br>
2&1 2&2 ... 2&6  <br>
...<br>
...<br>
...<br>
6&1 6&2 ... 6&6

In [ ]:
# put your code here

**(2.10) The profit of selling a unit of product A is 10, and the profit of selling a unit of product B is 15. Let <code>q_a</code> and <code>q_b</code> be the sales units of product A and product B, respectively. Calculate profit with sales <code>q_a</code> ranging from 5 to 15 and sales <code>q_b</code> ranging from 5 to 10.**<br>
Expected result:
<code>
The profit of selling 5 units of product A and 5 units of product B is 125.
The profit of selling 5 units of product A and 6 units of product B is 140.
The profit of selling 5 units of product A and 7 units of product B is 155.   
...
The profit of selling 15 units of product A and 10 units of product B is 300.
</code>

In [ ]:
# put your code here