# Loop Statements

## (1) While loop

**(1.1) Write a while loop to print out the following sequence of numbers.**<br>
Hint: To print all numbers in one line, you can use the argument <code>end = " ".</code><br>
Expected result:<br>
<code>3 6 9 12 15 18 21 24 27 30 </code>

In [1]:
# put your code here
n = 3
while n <= 30:
    print(n, end = " ")
    n = n + 3

3 6 9 12 15 18 21 24 27 30

**(1.2) Write a program that requires the user to enter a range. Use a while loop to print all even numbers in this range.**
<br>
Expected result:
<code>
from: 18
to: 30
18 20 22 24 26 28 30 
</code>

In [2]:
# put your code here
n1 = int(input("Enter a number: "))
n2 = int(input("Enter a number: "))

while n1 <= n2:
    if n1%2 == 0:
        print(n1, end = " ") 
    n1 = n1 + 1

Enter a number: 18
Enter a number: 30
18 20 22 24 26 28 30

**(1.3) Suppose you deposit $10,000 in a bank account with an annual interest rate of 5%. Print out the annual balance every year until your balance reaches 15,000. (Round the number to two decimal places)**<br>
Hint: interest = balance*0.05<br>
Expected result:
<code>
10500.0
11025.0
11576.25
12155.06
12762.82
13400.96
14071.0
14774.55
15513.28
</code>

In [3]:
# put your code here
balance = 10000
while balance <= 15000:
    interest = balance*0.05
    balance = balance + interest
    print(round(balance,2))

10500.0
11025.0
11576.25
12155.06
12762.82
13400.96
14071.0
14774.55
15513.28

**(1.4) Define an input box named <code>pw</code> to require the user to enter a password. If pw is 'python2021', print 'Successful login'; if not, print 'Wrong password' and ask again.**<br>
Hint: Put the input box in the while loop.<br>
Expected result:
<code>
Enter your password: test
Wrong password
Enter your password: 1234
Wrong password
Enter your password: python2021
Successful login
</code>

In [4]:
# put your code here
while True:
    pw = input("Enter your password: ")
    if pw == "python2021":
        print("Successful login")
        break
    else:
        print("Wrong password")

Enter your password: test
Wrong password
Enter your password: 1234
Wrong password
Enter your password: python2021
Successful login

## (2) For loop

**(2.1) Write a for loop to print out the following result.<br>**
Expected result:
<code>    
Happy New Year 2021
Happy New Year 2022
Happy New Year 2023
Happy New Year 2024
</code>

In [5]:
# put your code here
for i in range(2021,2025):
    print("Happy New Year",i)

Happy New Year 2021
Happy New Year 2022
Happy New Year 2023
Happy New Year 2024

**(2.2) Write a program that asks the user to enter a positive number. Calculate the factorial of this number.**<br> 
Hint: The factorial of n is the product of all the integers from 1 to n. It is denoted by an exclamation sign (!).<br> 
For example, the factorial of 6 is $6! = 1\times2\times3\times 4\times5\times6 = 720$.<br> 
Expected result:
<code>    
Enter a positive number: 6
720
</code>

In [6]:
# put your code here
n = int(input("Enter a positive number: "))
factorial = 1  
for i in range(1,n+1):
    factorial*= i
print(factorial)

Enter a positive number: 6
720

**(2.3) Write a program that requires the user to enter a range. Use a for loop to print all even numbers in this range.**
<br>
Expected result:
<code>
from: 18
to: 30
18 20 22 24 26 28 30 
</code>

In [7]:
# put your code here
n1 = int(input("Enter a number: "))
n2 = int(input("Enter a number: "))
for i in range(n1, n2+1):
    if i%2 == 0:
        print(i, end = " ")

Enter a number: 18
Enter a number: 30
18 20 22 24 26 28 30

**(2.4) Suppose you deposit $10,000 in a bank account with an annual interest rate of 5%. Print out the annual balance for the next five years.**<br>
Hint: interest = balance*0.05<br>
Expected result:
<code>
Year-1: 10500.00
Year-2: 11025.00
Year-3: 11576.25
Year-4: 12155.06
Year-5: 12762.82
</code>

In [8]:
# put your code here
balance = 10000
for i in range(1,6):
    balance = balance + balance*0.05
    print("Year-{}: {:.2f}".format(i, balance))

Year-1: 10500.00
Year-2: 11025.00
Year-3: 11576.25
Year-4: 12155.06
Year-5: 12762.82

**(2.5) Considering the following list. Use a for loop to print all names starting with 'S'.**

In [9]:
friend_list = ["Henry", "Victoria","Isaac", "Sara", "Zoe","Isabelle", "Nora", "Madelyn", "Sophia",
             "Charlotte", "Michael","Sebastian","Leah", "Ryan", 'Matthew', "Mila"]

In [10]:
# put your code here
for friend in friend_list:
    if friend[0] == "S":
        print(friend)

Sara
Sophia
Sebastian

**(2.6) Considering the list below. Calculate the number of elements in the list are above 100.**

In [11]:
numbers = [10, 40, 199, 20, 344, 300, 4, 55, 1, 4000, 99, 320, 32, 300, 22,
           12, 99, 111, 23, 93, 44, 93, 2, 3, 9, 100, 399, 33, 99, 555, 43]

In [12]:
# put your code here
counter = 0
for i in numbers:
    if i >100:
        counter = counter + 1 

print (counter)

9

**(2.7) Count the number of uppercase letters in <code>mystr</code>.**<br>
Hint: Try <code>str.isupper?</code> to see how to check if a letter is uppercase.

In [13]:
mystr = "Tesla started deliveries of the Model Y in Europe last month, and within a week it became the best-selling vehicle in Norway."

In [14]:
# put your code here
cnt = 0
for i in mystr:
    if i.isupper():
        cnt +=1
print(cnt)

5

**(2.8) In statisitcs, SSE (Sum of Squared Error) is used to see the difference between each observation and its group mean. It can be used as a measure of variation within a group. If all numbers within a group are identical the SSE would then be equal to 0.**<br> 
The formula for SSE is:

<center>$SSE = \sum_{i=1}^{n}(X_{i} -\bar{X})^{2}$, where $X_{i}$ is the $i$th observation and $\bar{X}$ is the group's mean.</center><br>


Suppose you have a list of numbers, <code>1, 2, 3, 4, 5</code>.<br>
The group mean  $\bar{X}=\dfrac{(1+2+3+4+5)}{5}=3$ <br> 
The Sum of Squared Error $SSE =(1-3)^{2} + (2-3)^{2}+ (3-3)^{2}+ (4-3)^{2}+ (5-3)^{2} = 10 $<br>

**(step1) Calculate the group mean of <code>mylist</code>.<br>
(step2) Use a for loop to calculate the SSE of the numbers in <code>mylist</code>.**

In [15]:
mylist = [1,2,3,4,5]

In [16]:
# put your code here
group_mean = sum(mylist)/len(mylist)
SSE = 0
for i in mylist:
    SSE += (i-group_mean)**2
print(SSE)

10.0

**(2.9) Suppose you are rolling a pair of dice. Print out all possible results.**<br>
Example:<br>
1&1 1&2 ... 1&6 <br>
2&1 2&2 ... 2&6  <br>
...<br>
...<br>
...<br>
6&1 6&2 ... 6&6

In [17]:
# put your code here
for i in range(1,7):
    for j in range(1,7):
        print(i,j,sep = "&", end = " ")
    print(end = "\n")

1&1 1&2 1&3 1&4 1&5 1&6
2&1 2&2 2&3 2&4 2&5 2&6
3&1 3&2 3&3 3&4 3&5 3&6
4&1 4&2 4&3 4&4 4&5 4&6
5&1 5&2 5&3 5&4 5&5 5&6
6&1 6&2 6&3 6&4 6&5 6&6

**(2.10) The profit of selling a unit of product A is 10, and the profit of selling a unit of product B is 15. Let <code>q_a</code> and <code>q_b</code> be the sales units of product A and product B, respectively. Calculate profit with sales <code>q_a</code> ranging from 5 to 15 and sales <code>q_b</code> ranging from 5 to 10.**<br>
Expected result:
<code>
The profit of selling 5 units of product A and 5 units of product B is 125.
The profit of selling 5 units of product A and 6 units of product B is 140.
The profit of selling 5 units of product A and 7 units of product B is 155.   
...
The profit of selling 15 units of product A and 10 units of product B is 300.
</code>

In [18]:
# put your code here
for i in range(5,16):
    for j in range(5,11):
        print("The profit of selling {} units of product A and {} units of product B is {}.".format(i, j, 10*i+15*j))

The profit of selling 5 units of product A and 5 units of product B is 125.
The profit of selling 5 units of product A and 6 units of product B is 140.
The profit of selling 5 units of product A and 7 units of product B is 155.
The profit of selling 5 units of product A and 8 units of product B is 170.
The profit of selling 5 units of product A and 9 units of product B is 185.
The profit of selling 5 units of product A and 10 units of product B is 200.
The profit of selling 6 units of product A and 5 units of product B is 135.
The profit of selling 6 units of product A and 6 units of product B is 150.
The profit of selling 6 units of product A and 7 units of product B is 165.
The profit of selling 6 units of product A and 8 units of product B is 180.
The profit of selling 6 units of product A and 9 units of product B is 195.
The profit of selling 6 units of product A and 10 units of product B is 210.
The profit of selling 7 units of product A and 5 units of product B is 145.
The profit of selling 7 units of product A and 6 units of product B is 160.
The profit of selling 7 units of product A and 7 units of product B is 175.
The profit of selling 7 units of product A and 8 units of product B is 190.
The profit of selling 7 units of product A and 9 units of product B is 205.
The profit of selling 7 units of product A and 10 units of product B is 220.
The profit of selling 8 units of product A and 5 units of product B is 155.
The profit of selling 8 units of product A and 6 units of product B is 170.
The profit of selling 8 units of product A and 7 units of product B is 185.
The profit of selling 8 units of product A and 8 units of product B is 200.
The profit of selling 8 units of product A and 9 units of product B is 215.
The profit of selling 8 units of product A and 10 units of product B is 230.
The profit of selling 9 units of product A and 5 units of product B is 165.
The profit of selling 9 units of product A and 6 units of product B is 180.
The profit of selling 9 units of product A and 7 units of product B is 195.
The profit of selling 9 units of product A and 8 units of product B is 210.
The profit of selling 9 units of product A and 9 units of product B is 225.
The profit of selling 9 units of product A and 10 units of product B is 240.
The profit of selling 10 units of product A and 5 units of product B is 175.
The profit of selling 10 units of product A and 6 units of product B is 190.
The profit of selling 10 units of product A and 7 units of product B is 205.
The profit of selling 10 units of product A and 8 units of product B is 220.
The profit of selling 10 units of product A and 9 units of product B is 235.
The profit of selling 10 units of product A and 10 units of product B is 250.
The profit of selling 11 units of product A and 5 units of product B is 185.
The profit of selling 11 units of product A and 6 units of product B is 200.
The profit of selling 11 units of product A and 7 units of product B is 215.
The profit of selling 11 units of product A and 8 units of product B is 230.
The profit of selling 11 units of product A and 9 units of product B is 245.
The profit of selling 11 units of product A and 10 units of product B is 260.
The profit of selling 12 units of product A and 5 units of product B is 195.
The profit of selling 12 units of product A and 6 units of product B is 210.
The profit of selling 12 units of product A and 7 units of product B is 225.
The profit of selling 12 units of product A and 8 units of product B is 240.
The profit of selling 12 units of product A and 9 units of product B is 255.
The profit of selling 12 units of product A and 10 units of product B is 270.
The profit of selling 13 units of product A and 5 units of product B is 205.
The profit of selling 13 units of product A and 6 units of product B is 220.
The profit of selling 13 units of product A and 7 units of product B is 235.
The profit of selling 13 units of product A and 8 units of product B is 250.
The profit of selling 13 units of product A and 9 units of product B is 265.
The profit of selling 13 units of product A and 10 units of product B is 280.
The profit of selling 14 units of product A and 5 units of product B is 215.
The profit of selling 14 units of product A and 6 units of product B is 230.
The profit of selling 14 units of product A and 7 units of product B is 245.
The profit of selling 14 units of product A and 8 units of product B is 260.
The profit of selling 14 units of product A and 9 units of product B is 275.
The profit of selling 14 units of product A and 10 units of product B is 290.
The profit of selling 15 units of product A and 5 units of product B is 225.
The profit of selling 15 units of product A and 6 units of product B is 240.
The profit of selling 15 units of product A and 7 units of product B is 255.
The profit of selling 15 units of product A and 8 units of product B is 270.
The profit of selling 15 units of product A and 9 units of product B is 285.
The profit of selling 15 units of product A and 10 units of product B is 300.