# Dictionary,Tuple and Set

## (1) Tuple

**(1.1) Store the following information in a list of tuples, each tuple contains information about a company. Print out the list.**

| company name | profit (\$B) | assets (\$B)| 
|:-:|:-:|:-:|
|JPMorgan Chase|40.4|3689.3|
|Apple|63.9|354.1|
|Bank of America|17.9|2832.2|
|Amazon|21.3|321.2|
|Microsoft|51.3|304.1|

Expected reuslt:
<code>
[('JPMorgan Chase', 40.4, 3689.3), ('Apple', 63.9, 354.1), ('Bank of America', 17.9, 2832.2), ('Amazon', 21.3, 321.2), ('Microsoft', 51.3, 304.1)]
</code>

In [1]:
# put your code here

**(1.2) Print out the profit of Bank of America.**<br>
Hint: Get the element by index

In [2]:
# put your code here

**(1.3) Find companies with assets over 1000(\$B) and store their information in a new list. Print out the new list.**<br>
Hint: Use list comprehension

In [3]:
# put your code here

## (2) Set

**(2.1) Find the unique words in list1 and list2 and store them in <code>set1</code> and <code>set2</code> respectively.**

In [4]:
list1 = ['google', 'collects', 'data', 'to', 'be', 'used', 'for', 'targeted', 'advertising', 'purposes']
list2 = ['advertising', 'services', 'are', 'at', 'the', 'heart', 'of', 'how', 'google', 'and', 'publishers', 'monetize', 'their', 'online', 'services']

In [5]:
# put your code here

**(2.2) Find the common words in <code>set1</code> and <code>set2</code>.**

In [6]:
# put your code here

## (3) Dictionary

**(3.1) Use the same information in (1.1). Create a dictionary using company names as keys and tuples (profits, assets) as values. Print out the dictionary**<br>
Expected result:
<code>
{'JPMorgan Chase': (40.4, 3689.3), 'Apple': (63.9, 354.1), 'Bank of America': (17.9, 2832.2), 'Amazon': (21.3, 321.2), 'Microsoft': (51.3, 304.1)}</code>

In [7]:
# put your code here

**(3.2) Print out the profit of Bank of America.**

In [8]:
# put your code here

**(3.3) Given the sales of different products as follows, use a dictionary to store this data. Print out the dictionary.**<br>
Hint: Use product names as keys and lists of sales as values.

| product name | Q1 | Q2 | Q3 | Q4 |
|:-:|:-:|:-:|:-:|:-:|
|A|150|180|200|190|
|B|140|160|150|155|
|C|180|130|125|--|

Expected result:
<code>
{'A': [150, 180, 200, 190], 'B': [140, 160, 150, 155], 'C': [175, 130, 120]}
</code>

In [9]:
# put your code here

**(3.4) Calculate the average sales of the first three quarters of product-C and store the value in variable <code>c_avg</code>.**

In [10]:
# put your code here

**(3.5) Fill in the missing product sales data with <code>c_avg</code>. Print out the updated dictionary.**<br>
Hint: Use list.append()

In [11]:
# put your code here

## (4) Zip

**(4.1) Use the following lists to create a zip object.**<br>

In [12]:
product_name = ['A', 'B', 'C']
annual_sales = [720, 605, 580]

In [13]:
# put your code here

**(4.2) Use the zip object obtained in (4.1) to create a dictionary. Print out the dictionary.**

In [14]:
# put your code here

**(4.3) Use the following list to create a list of tuples, each tuple contains information about the company. Print out the list.**<br>
Hint: Use zip()<br>
Expected reuslt:
<code>
[('JPMorgan Chase', 40.4, 3689.3), ('Apple', 63.9, 354.1), ('Bank of America', 17.9, 2832.2), ('Amazon', 21.3, 321.2), ('Microsoft', 51.3, 304.1)]
</code>

In [15]:
company_list = ['JPMorgan Chase','Apple','Bank of America','Amazon','Microsoft']
profit_list = [40.4, 63.9, 17.9, 21.3, 51.3]
assets_list = [3689.3, 354.1, 2832.2, 321.2, 304.1]

In [16]:
# put your code here

## (5) List comprehension

**(5.1) Add 2 to each element in the list.**<br>
Expected result:
<code>
[16, 25, 64, 41, 60, 73]
</code>

In [17]:
num_list = [14, 23, 62, 39, 58, 71]

In [24]:
# put your code here
new_list = [i+2 for i in num_list]
new_list

[16, 25, 64, 41, 60, 73]

**(5.2) Convert all words to uppercase.**<br>
Expected result:
<code>
['JPMORGAN CHASE', 'APPLE', 'BANK OF AMERICA', 'AMAZON', 'MICROSOFT']
</code>

In [25]:
company_list = ['JPMorgan Chase','Apple','Bank of America','Amazon','Microsoft']

In [26]:
# put your code here
new_list = [s.upper() for s in company_list]
new_list

['JPMORGAN CHASE', 'APPLE', 'BANK OF AMERICA', 'AMAZON', 'MICROSOFT']

**(5.3) Select all names beginning with "S".**

In [21]:
friend_list = ["Henry", "Victoria","Isaac", "Sara", "Zoe","Isabelle", "Nora", "Madelyn", "Sophia",
             "Charlotte", "Michael","Sebastian","Leah", "Ryan", 'Matthew', "Mila"]

In [22]:
# put your code here

**(5.4) Select all products belonging to the "meat" category.**

In [23]:
#[product category, product name]
product_list = [["beverage","coffee"],["dairy","cheeses"],["meat","beef"],["meat","pork"],["beverage", "tea"],["dairy","yogurt"],["beverage", "soda"],["dairy","milk"]]