# Dictionary,Tuple and Set

## (1) Tuple

**(1.1) Define a tuple containing the following elements: <code>10,20,30,40,50,60</code>. Print out the tuple.**

**(1.2) Use the tuple defined in (1.1). Print the last two elements.**

**(1.3) Store the following information in a tuple of sub-tuples. Each sub-tuple represents information about the company, <code>(company name, profit, assets)</code>. Print out the tuple.**

| company name | profit (\$B) | assets (\$B)| 
|:-:|:-:|:-:|
|JPMorgan Chase|40.4|3689.3|
|Apple|63.9|354.1|
|Bank of America|17.9|2832.2|
|Amazon|21.3|321.2|
|Microsoft|51.3|304.1|

Expected reuslt:<br>
<code>(('JPMorgan Chase', 40.4, 3689.3), ('Apple', 63.9, 354.1), ('Bank of America', 17.9, 2832.2), ('Amazon', 21.3, 321.2), ('Microsoft', 51.3, 304.1))</code>

**(1.4) Use the tuple defined in (1.3). Print out Bank of America's profits.**<br>
Hint: Get the element by index

**(1.5) Use the tuple defined in (1.3). Find companies with assets over 1000(\$B) and store their information in a list. Print out the list.**<br>
Expected result:<br>
<code>[('JPMorgan Chase', 40.4, 3689.3), ('Bank of America', 17.9, 2832.2)]</code>

## (2) Set

**(2.1) Find the unique words in list1 and list2 and store them in variables named <code>set1</code> and <code>set2</code> respectively. Print out <code>set1</code> and <code>set2</code>.**

In [ ]:
list1 = ['google', 'collects', 'data', 'to', 'be', 'used', 'for', 'targeted', 'advertising', 'purposes']
list2 = ['advertising', 'services', 'are', 'at', 'the', 'heart', 'of', 'how', 'google', 'and', 'publishers', 'monetize', 'their', 'online', 'services']

**(2.2) Which words appear in both <code>set1</code> and <code>set2</code>?**

**(2.3) Get all the unique letters from the following list and store them in a variable named <code>myset</code>.**

In [ ]:
mylist = ['a','c','e','b','c','b','a','e','d','e','d','a','e','d','b','c','d']

**(2.4) Calculate the frequency of each letter in <code>mylist</code>.**<br>
Expected result:<br>
b:3 <br>
d:4 <br>
e:4 <br>
...

## (3) Dictionary

**(3.1) Given the following table. Define a dictionary using "course_ID" as keys and "number_of_students" as value. Print out the dictionary.**

| course_ID |number_of_students |
|:-:|:-:|
|EBA3400|79|
|EBA3420|82|
|EBA3500|64|

**(3.2) Print out the number of students enrolled in the "EBA3420" course.**

**(3.3) Given the sales of different products in each quarter as follows, use a dictionary to store this data. Print out the dictionary.**<br>
Hint: Use product names as keys and lists of sales as values.

| product name | Q1 | Q2 | Q3 | Q4 |
|:-:|:-:|:-:|:-:|:-:|
|A|150|180|200|190|
|B|140|160|150|155|
|C|180|130|125|--|

Expected result:<br>
<code>{'A': [150, 180, 200, 190], 'B': [140, 160, 150, 155], 'C': [175, 130, 120]}</code>

**(3.4) Calculate the average sales of the first three quarters of product-C and store the result in a variable named <code>c_avg</code>.**

**(3.5) Fill in the missing Q4 sales data for product C with <code>c_avg</code>. Print out the updated dictionary.**<br>
Hint: Use list.append()

## (4) Zip

**(4.1) Use the following lists to create a zip object, and then convert the zip object to a list named <code>sales_list</code>. Print out the list.**<br>
Expected result:<br>
<code>[('A', 150, 180, 200, 190), ('B', 140, 160, 150, 155), ('C', 180, 130, 125, 145)]</code>

In [ ]:
product_name = ['A', 'B', 'C']
Q1_sales = [150, 140, 180]
Q2_sales = [180, 160, 130]
Q3_sales = [200, 150, 125]
Q4_sales = [190, 155, 145]

**(4.2) Print out first half sales for each product, i.e. Q1 + Q2.**<br>
Expected result:<br>
A: 330<br>
B: 300<br>
C: 310

**(4.3) Given the following two lists. Create a dictionary using "course_ID" as keys and "number_of_students" as value. Print out the dictionary.**<br>

In [ ]:
course_id = ["EBA3400", "EBA3420", "EBA3500"]
num_students = [79, 85, 64]

**(4.4) Use the dictionary obtaind in (4.3). Print out all the keys.**