# Pandas1 - Objects

**Import pandas package.**

## (1) Series

**(1.1) Create a pandas series using the following list. Print out the series.**

In [ ]:
profit_list = [40.4, 63.9, 17.9, 21.3, 51.3, 48.5]

**(1.2) Create a pandas series using the list in (1.1) and use the months 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun' as index. Print out the series.**

## (2) DataFrame

**(2.1) Create a dictionary containing three key-value pairs. Use the keys "company_name", "profit" and "assets" and specify the following list as the corresponding values.**

In [ ]:
company_list = ['JPMorgan Chase','Apple','Bank of America','Amazon','Microsoft']
profit_list = [40.4, 63.9, 17.9, 21.3, 51.3]
assets_list = [3689.3, 354.1, 2832.2, 321.2, 304.1]

**(2.2) Create a dataframe from the dictionary you obtained in (2.1). Display the dataframe.**

**(2.3) Using the dataframe obtained in (2.2), print the number of rows and columns.**

**(2.4) What is the average profit of these five companies?**

**(2.5) Using the dataframe obtained in (2.2), arrange the data in alphabetical order based on the "company_name" column.**

## (3) Read data from file

All the .csv files used in this exercise can be found under the folder **Resourses/Part2: Data Extraction and Visualizaion/Dataset/** on itslearning

### (3.1) Melbourne housing data

**This file <code>melbourne.csv</code> records property sales prices in Melbourne. Descriptions of some important variables are listed below.**

- **Suburb**: Suburb
- **Rooms**: Number of rooms
- **Type**: type of real estate including: 
    - br - bedroom(s)
    - h - house,cottage,villa, semi,terrace
    - u - unit, duplex
    - t - townhouse
    - dev site - development site;
    - o res - other residential.
- **Price**: Price in Australian dollars
- **Distance**: Distance from Central Business Development (in km)
- **Postcode**: Postcode
- **Bathroom**: Number of bathrooms
- **Region**: General Region (West, North West, North, North east …etc)

**(3.1.1) Read the csv file <code>melbourne.csv</code> as a pandas dataframe. Display the first five rows.**

**(3.1.2) Using the data frame obtained in (3.1.1), print out the number of rows and columns in the dataframe in the following format.**<br>
Expected result:
<code>
Number of observations: 13580
Number of variables: 21
</code>

**(3.1.3) Show a summary of the dataframe, including column names and their data types.**

**(3.1.4) Show the descriptive statistics for all numerical columns and round the result to one decimal place.**

**(3.1.5) Use the result obtained in (3.1.4) to answer the following questions.** (Add your answers to the markdown cell.)

- What is the average selling price of the properties? 
- Among these properties, what is the highest number of rooms in a single property? 
- What is the average number of bathrooms in these properties? 
- Among these properties, in which year was the oldest property built?

**(3.1.6) In which three suburbs are most properties located?**

**(3.1.7) Display the data of the top five properties with the highest prices.**<br>
Hint: sorting

### (3.2) The Diabetes dataset

• **Pregnancies**: Number of times pregnant<br>
• **Glucose**: Plasma glucose concentration over 2 hours in an oral glucose tolerance test<br>
• **BloodPressure**: Diastolic blood pressure (mm Hg)<br>
• **SkinThickness**: Triceps skin fold thickness (mm)<br>
• **Insulin**: 2-Hour serum insulin (mu U/ml)<br>
• **BMI**: Body mass index (weight in kg/(height in m)2)<br>
• **DiabetesPedigreeFunction**: Diabetes pedigree function (a function which scores likelihood of
diabetes based on family history)<br>
• **Age**: Age (years)<br>
• **Outcome**: Class variable (0 if non-diabetic, 1 if diabetic)<br>

**(3.2.1) Import the csv file <code>diabetes.csv</code> and specify the data type for the 'Outcome' column as 'object'. Display the first five rows.** <br>
Hint:
```Python
        pd.read_csv("file_name", dtype = {"column_name": object})
```

**(3.2.2) Show the descriptive statistics for all numerical variables, rounding the result to the nearest whole number. Then, answer the following questions.**<br>

- What is the average age? 
- What is the maximum BMI? 
- What is the average BloodPressure?

**(3.2.3) Display data for the top 15 people with the highest BMI. Store the data as a new dataframe.**

**(3.2.4) Using the dataframe obtained in (3.2.3), count the number of people with and without diabetes.**

### (3.3) Country code

**(3.3.1) Read "code.csv" as a dataframe aisplay the first 10 rows.**

**(3.3.2) Extract the  "country_code" column and "country" column as two lists.**<br> Hint: <code>df["column_name"].to_list()</code>

**(3.3.3) Using the two lists obtained in (3.3.2), create a dictionary with "country code" as the key and "country" as the value.**<br>
Example: <br>
<code>{"AFG": "Afghanistan", "ALA": "Åland Islands",..., "ZWE": "Zimbabwe"}</code>

**(3.3.4) Write a program that asks the user to enter a country code, and the program should print out the corresponding country name.**<br>
Example-1:<br>
Enter a country code: <code>AGO</code>.<br>
The country code "AGO" is Angola.

Example-2:<br>
Enter a country code: <code>NOR</code>.<br>
The country code "NOR" is Norway.