# Pandas1 - Objects

**Import pandas package.**

In [1]:
# put your code here

## (1) Series

**(1.1) Create a pandas series using the following list.**

In [2]:
profit_list = [40.4, 63.9, 17.9, 21.3, 51.3]

In [3]:
# put your code here

**(1.2) Display the values greater 30.**

In [4]:
# put your code here

## (2) DataFrame

**(2.1) Use the following list to create a pandas dataframe. The column names are "company_name", "profit", "assets".**

In [5]:
company_list = ['JPMorgan Chase','Apple','Bank of America','Amazon','Microsoft']
profit_list = [40.4, 63.9, 17.9, 21.3, 51.3]
assets_list = [3689.3, 354.1, 2832.2, 321.2, 304.1]

In [6]:
# put your code here

**(2.2) Use the dataframe in (2.1). Show companies with profits greater than 40 and assets greater than 350.**

In [7]:
# put your code here

**(2.3) Use <code>iloc</code> to select the first three rows.**

In [8]:
# put your code here

**(2.4) Use <code>loc</code> to select the column <code>company_name</code>.**

In [9]:
# put your code here

## (3) Read data from file

Note that all the .csv files used in this exercise can be found under the folder **Resourses/Part2: Data Extraction and Visualizaion/Dataset/** on itslearning

### (3.1) Melbourne housing data

**(3.1.1) Import the csv file <code>melbourne.csv</code> using pandas. Display the first five rows.**

In [10]:
# put your code here

**(3.1.2) Print out the number of observations and the number of variables.**<br>
Expected result:
<code>
Number of observations: 13580
Number of variables: 21
</code>

In [11]:
# put your code here

**(3.1.3) Select a subset of the data consisting of the variables <code>Suburb, Price, Rooms, Type, Bathroom, Car, Landsize, BuildingArea, YearBuilt</code>. Store this subset in a new variable.**

In [12]:
# put your code here

**(3.1.4) Use the subset obtained in (3.1.3). Show the summary statistics for these variables and answer the following questions.** (Add your answers to the markdown cell.)

In [13]:
# put your code here

**Write you answers here:**
- What is the average price? 
- What is the maximum number of rooms? 
- What is the average number of baths? 
- Are there bathrooms in all houses? 
- In which year was the newest house built?

**(3.1.5) Use the subset obtained in (3.1.3). What is the average price for all houses with at least four rooms and two bathrooms in the Newport area? How many houses are in this area?.** <br>
Hint: Filter data by conditions and calculate the statistics.

In [14]:
# put your code here

**Write you answers here:**<br>
The average price is __. There are __ houses with at least three rooms and two bathrooms in the Newport area.

### (3.2) The Diabetes dataset

• **Pregnancies**: Number of times pregnant<br>
• **Glucose**: Plasma glucose concentration over 2 hours in an oral glucose tolerance test<br>
• **BloodPressure**: Diastolic blood pressure (mm Hg)<br>
• **SkinThickness**: Triceps skin fold thickness (mm)<br>
• **Insulin**: 2-Hour serum insulin (mu U/ml)<br>
• **BMI**: Body mass index (weight in kg/(height in m)2)<br>
• **DiabetesPedigreeFunction**: Diabetes pedigree function (a function which scores likelihood of
diabetes based on family history)<br>
• **Age**: Age (years)<br>
• **Outcome**: Class variable (0 if non-diabetic, 1 if diabetic)<br>

**(3.2.1) Import the csv file <code>diabetes.csv</code> using pandas. Display the first five rows.**

In [15]:
# put your code here

**(3.2.2) Print out the number of observations and the number of variables.**<br>

In [16]:
# put your code here

**(3.2.3) Show the summary statistics for these variables and answer the following questions.**<br>

In [17]:
# put your code here

- What is the average age? 
- What is the maximum number of BMI? 
- What is the minimum of BloodPressure?

**(3.2.4) Select observations with pressure greater than 4 and calculate their average value.**

In [18]:
# put your code here

The average price is ___.