# Pandas 2 - Data Preprocessing

In [ ]:
# import package

## (1) Product sales

**(1.1) Given the following dataframes <code>df_price</code> and <code>df_sales</code>. Find sales data for all the product listed in <code>df_price</code>. Which product is missing sales data?** (Write your answer in the markdown cell.)

In [ ]:
df_price = pd.DataFrame({"product_name":["A", "B", "C", "D", "E"], "price":[35, 10, 25, 30, 20]})
df_sales = pd.DataFrame({"product_name":["A", "B", "C", "E", "F"], "sales":[360, 470, 150, 290, 210]})
display(df_price)
display(df_sales)

**Write your answer here:**<br>
Product __ is missing sales data.

**(1.2) List products with both price and sales data.**

**(1.3) Store the result in (1.1) as a new dataframe. Sort the new dataframe in descending order based on the column "Sales".**

## (2) Score

**(2.1) Concatenate the following series to create a dataframe called <code>score_df</code>, as shown below.**<br> 
Hint: Rename columns https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rename.html

||Exam-1|Exam-2|Average|
|:-:|:-:|:-:|:-:|
|**S01**|7.0|8.0|7.5|
|**S02**|6.5|7.5|7.0|
|**S03**|8.5|7.5|8.0|
|**S04**|8.0|9.0|8.5|

In [ ]:
exam1 = pd.Series([7.0,6.5,8.5,8.0], index =  ["S01","S02","S03","S04"])
exam2 = pd.Series([8.0,7.5,7.5,9.0], index =  ["S01","S02","S03","S04"])
avg = pd.Series([7.5,7.0,8.0,8.5], index =  ["S01","S02","S03","S04"])

**(2.2) Add a new column called <code>Rank</code> which gives the rank based on the <code>Average</code> column.** <br>
Expected result:

||Exam-1|Exam-2|Average|Rank|
|:-:|:-:|:-:|:-:|:-:|
|**S01**|7.0|8.0|7.5|3.0|
|**S02**|6.5|7.5|7.0|4.0|
|**S03**|8.5|7.5|8.0|2.0|
|**S04**|8.0|9.0|8.5|1.0|

Hint: Use <code>df[column_name].rank(ascending = False)</code>
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rank.html

**(2.3) Sort the dataframe in ascending order based on the <code>Rank</code> column. Apply this change directly to the dataframe.**

## (3) Brand sales at online e-tailer

**(3.1) Import the dataset <code>fashion.csv</code>. Use info() to show a summary of the dataset. Which columns have missing values? (Non-null count is less than row count.)** Write you answer in markdown cell.

**Write your answer here:**<br>
Columns with missing values: _________

**(3.2) Create a copy of the dataframe obtained in (3.1) and use it to complete the following tasks.**

**(3.3) Remove columns with missing values and apply this change directly.**

**(3.4) Extract the years from the column <code>Date</code> and put them in a new column named <code>Year</code>. Display the last 15 rows of the updated dataframe.**<br>
Hint: To slice a substring from each element in the series, you can use <code>Series_name.str[start_index:stop_index]</code>
https://pandas.pydata.org/docs/reference/api/pandas.Series.str.slice.html

**(3.5) Select Tiger_of_Sweden's sales data in 2018 and store them in a new dataframe. The new dataframe should include the following columns: <code>Date, Year, Tiger_of_Sweden</code>.**<br>

**(3.6) Which month did Tiger_of_Sweden have the highest sales in 2018?**<br>

**Write your answer here:**<br>
The highest sales in 2018 were in ___.

## (4) Complains
In the US, 311 is a non-emergency phone number that people can call in many cities to find information about services, make complaints, or report problems like graffiti or road damage.

**(4.1) Import the dataset <code>complaints.csv</code>. Show the first 5 rows.**<br>
Note: You may receive a warning message (https://pandas.pydata.org/docs/reference/api/pandas.errors.DtypeWarning.html). You can try to solve this little problem. If you don't know how to fix it, , you can still continue with the following tasks.

**(4.2) Show the column names and their data types in this dataset.**

**(4.3) How many observations and variables are there in this dataset?**

**(4.4) Display the first five rows of columns <code>Complaint Type</code> and <code>Borough</code>.**

**(4.5) Show the number of complaints recorded in each region (borough).**<br>

**(4.6) Create a subset of the MANHATTAN area named <code>manhattan_df</code> and include only columns <code>Complaint Type</code> and <code>Borough</code>.**

**(4.7) Import the dataset <code>complaints_mapping.xlsx</code>. Show the data.**<br>
Hint: https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html

**(4.8) Use the dataset in (4.7), find the category of each complaint type in <code>manhattan_df</code>.**<br>
Example:

||Complaint Type|Borough|Category|
|:-:|:-:|:-:|:-:|
|0|Noise - Commercial|MANHATTAN|Noise|
|1|Noise - Vehicle	|MANHATTAN|NaN|
|2|Rodent|MANHATTAN|Rats|
|3|Noise - Commercial|MANHATTAN|Noise|
|...|...|...|...|

**(4.9) What are the five most common categories of complaints in Manhattan?.**