# Pandas 2 - Data Preprocessing

In [1]:
# import pacakge

## (1) Basic operations and data consolidation

**(1.1) Use the following series to create a data frame named <code>score_df</code>, as shown below.**<br> 
Hint: Rename columns https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rename.html

||score1|score2|score3|
|:-:|:-:|:-:|:-:|
|**S01**|7.0|8.5|7.5|
|**S02**|6.5|7.5|7.0|
|**S03**|8.0|7.5|8.0|
|**S04**|6.0|8.0|8.5|

In [2]:
s1 = pd.Series([7.0,6.5,8.0,6.0], index =  ["S01","S02","S03","S04"])
s2 = pd.Series([8.5,7.5,7.5,8.0], index =  ["S01","S02","S03","S04"])
s3 = pd.Series([7.5,7.0,8.0,8.5], index =  ["S01","S02","S03","S04"])

In [3]:
# put your code here

**(1.2) Calculate the average score of each student and add their average score to a new column called <code>avg_score</code>. Round the number to two decimal places.**<br>
Hint: <code>dataframe.mean(axis=1)</code><br>
Example: The average score of student "S01" is (7.0+8.5+7.5)/3 = 7.67

In [4]:
# put your code here

**(1.3) Use the following data to create a dataframe named <code>product_df</code>.** <br>
Hint: <br>
Use the argument <code>columns</code> to assign a list of column names. <br>
<code>df = pd.DataFrame(nested_list, columns = column_name_list)</code>

In [5]:
name_list = ["product_category","product_name"]
product_list = [["beverage","coffee"],["dairy","cheeses"],["meat","beef"],["meat","pork"],["beverage", "tea"],["dairy","yogurt"],["beverage", "soda"],["dairy","milk"]]

In [6]:
# put your code here

**(1.4) Sort the <code>product_df</code> alphabetically by <code>product_category</code>. Apply this change directly to the dataframe.**

In [7]:
# put your code here

**(1.5) Rest the index of <code>product_df</code>. Apply this change directly to the dataframe.**

In [8]:
# put your code here

**(1.6) Given the following dataframe, find the price of each product in <code>product_df</code>.**

In [9]:
price_df = pd.DataFrame({"product_name":["beef","bread","cheeses","chicken","coffee","egg","ham","milk","pork","soda","tea","yogurt"],
           "price":[89, 39, 69, 79, 49, 29, 59, 29, 59, 29, 49, 29]})

In [10]:
# put your code here

## (2) Brand sales at online e-tailer

**(2.1) Import the dataset <code>fashion.csv</code>. Show the column names and their data types in this dataset.**

In [11]:
# put your code here

**(2.2) Create a copy of the dataframe obtained in (2.1) and use it to complete the following tasks.**

In [12]:
# put your code here

**(2.3) Remove columns with missing values and apply this change directly.**

In [13]:
# put your code here

**(2.4) Extract the years from the column <code>Date</code> and put them in a new column named <code>Year</code>. Display the last 15 rows of the updated dataframe.**<br>
Hint: To slice a substring from each element in the series, you can use <code>Series_name.str[start_index:stop_index]</code>
https://pandas.pydata.org/docs/reference/api/pandas.Series.str.slice.html

In [14]:
# put your code here

**(2.5) Select Tiger_of_Sweden's sales data in 2018 and store them in a new dataframe. The new dataframe should include the following columns: Date, Year, Tiger_of_Sweden.**<br>

In [15]:
# put your code here

**(2.6) Which month did Tiger_of_Sweden have the highest sales in 2018?**<br>

In [16]:
# put your code here

## (3) Complains
In the US, 311 is a non-emergency phone number that people can call in many cities to find information about services, make complaints, or report problems like graffiti or road damage.

**(3.1) Import the dataset <code>complaints.csv</code>. Show the first 5 rows.**<br>
Note: You may receive a warning message (https://pandas.pydata.org/docs/reference/api/pandas.errors.DtypeWarning.html). You can try to fix this little problem. If not, you can still continue with the following tasks.

In [17]:
# put your code here

**(3.2) Show the column names and their data types in this dataset.**

In [18]:
# put your code here

**(3.3) How many observations and variables are there in this dataset?**

In [19]:
# put your code here

**(3.4) Display the first five rows of columns <code>Complaint Type</code> and <code>Borough</code>.**

In [20]:
# put your code here

**(3.5) Show the number of complaints recorded in each region (borough).**<br>

In [21]:
# put your code here

**(3.6) Create a subset of the MANHATTAN area named <code>manhattan_df</code> and include only columns <code>Complaint Type</code> and <code>Borough</code>.**

In [22]:
# put your code here

**(3.7) Import the dataset <code>complaints_mapping.xlsx</code>. Show the data.**<br>
Hint: https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html

In [23]:
# put your code here

**(3.8) Based on the dataframe obtained in (3.7), find the category of each complaint type in <code>manhattan_df</code>.**

In [24]:
# put your code here

**(3.9) What are the five most common categories of complaints in Manhattan?.**

In [25]:
# put your code here