# Pandas3 - Data Preprocessing and Calculation

In [ ]:
#import pacakge

## (1) Oil price

**(1.1) Given the following dataframe, calcualte the number of missing values.**

In [ ]:
month = ['Jan 2018','Feb 2018','Mar 2018','Apr 2018','May 2018','Jun 2018','Jul 2018','Aug 2018','Sep 2018','Oct 2018','Nov 2018','Dec 2018','Jan 2019','Feb 2019','Mar 2019','Apr 2019','May 2019','Jun 2019','Jul 2019','Aug 2019','Sep 2019','Oct 2019','Nov 2019','Dec 2019']
price = [68.5,63.3,63.7,69.1,74.9,73.4,None,71.7,78.1,79.3,64.8,57.6,None,63.9,66,71.5,70.9,61.9,None,59.4,None,58.5,63.3,64.5]
oil_df = pd.DataFrame({"month":month,"price":price})

In [ ]:
# put your code here

**(1.2) Use the dataframe in (1.1). Fill in missing values with the price of the previous month.**

In [ ]:
# put your code here

**(1.3) Use the dataframe in (1.1). Fill in missing values with the average price from 2018 to 2019.**

In [ ]:
# put your code here

## (2) Melbourne housing data

**(2.1) Import the dataset <code>melbourne.csv</code>. Show the first five rows.**

In [ ]:
# put your code here

**(2.2) Select the data for the following suburbs. Store the result as another data frame.** <br>
<code>Reservoir, Richmond, Brunswick, Bentleigh East, Coburg, Preston</code>.

In [ ]:
# put your code here

**(2.3) Calculate the average price in each suburb. Which suburb has the highest average house price?**<br>
Add your answers to the markdown cell.

In [ ]:
# put your code here

**Write you answers here:**<br>
The average house price in ___ is the highest.

**(2.4) What is the largest </code>land size</code> in each suburb?**

In [ ]:
# put your code here

**(2.5) What is the highest price in each region (use column <code>Regionname</code>).**

In [ ]:
# put your code here

## (3) US National Parks and their animal and plant species
The National Park Service publishes a database of animal and plant species identified in individual national parks and verified by evidence â€” observations, vouchers, or reports that document the presence of a species in a park. All park species records are available to the public on the National Park Species portal; exceptions are made for sensitive, threatened, or endangered species when widespread distribution of information could pose a risk to the species in the park.

National Park species lists provide information on the presence and status of species in US national parks. These species lists are works in progress and the absence of a species from a list does not necessarily mean the species is absent from a park. The time and effort spent on species inventories varies from park to park, which may result in data gaps. Species taxonomy changes over time and reflects regional variations or preferences; therefore, records may be listed under a different species name.

Each park species record includes a species ID, park name, taxonomic information, scientific name, one or more common names, record status, occurrence (verification of species presence in park), nativeness (species native or foreign to park), abundance (presence and visibility of species in park), seasonality (season and nature of presence in park), and conservation status (species classification according to US Fish & Wildlife Service). Taxonomic classes have been translated from Latin to English for species categorization; order, family, and scientific name (genus, species, subspecies) are in Latin.

**(3.1) Import the dataset <code>species.csv</code>. Show the summary of this dataset including column names and their data types.**

In [ ]:
# put your code here

**(3.2) Create a subset named <code>species_df</code> with the following columns: <code>'Species ID', 'Park Name', 'Common Names', 'Family', 'Occurrence', 'Nativeness', 'Abundance'</code>.**

In [ ]:
# put your code here

**(3.3) Replace missing values with "Unknown".**

In [ ]:
# put your code here

**(3.4) Shows the number of species in each "abundance" category.**<br>
Example:<br>
Uncommon:   18779<br>
Common:     12913<br>
...

In [ ]:
# put your code here

**(3.5) Grouping data based on column <code>Park Name</code>.**

In [ ]:
# put your code here

**(3.6) Use the groupby object obtained in (1.5). Calculate the number of species in each park and show the top five parks with the largest number of species.**

In [ ]:
# put your code here

**(3.7) Use the groupby object obtained in (1.5). Calculate the number of species in each park and store the result in a dataframe named <code>species_park_df</code>. The dataframe should contains two columns:<code>Park Name</code> and <code>Number_of_species</code>**<br>
For example:

||Park Name|Number_of_species|
|:-:|:-:|:-:|
|**0**|Acadia National Park|1709|
|**1**|Arches National Park|1048|
|**2**|Badlands National Park|1389|
|**3**|...|...|
|**4**|...|...|

In [ ]:
# put your code here

**(3.8) Import the dataset <code>parks.csv</code> as a dataframe named <code>park_df</code>. Show the first five rows.**

In [ ]:
# put your code here

**(3.9) Use <code>species_park_df</code> obtained in (1.7). Add the acres as a new column.**<br>
For example:

||Park Name|Number_of_species|Acres|
|:-:|:-:|:-:|:-:|
|**0**|Acadia National Park|1709|47390|
|**1**|Arches National Park|1048|76519|
|**2**|Badlands National Park|1389|242756|
|**3**|...|...|...|
|**4**|...|...|...|

In [ ]:
# put your code here

**(3.10) Use the result obtained in (1.9). Calculate the <code>number of species per acre</code> in each park and list the five national parks with the highest number of species per acre.**

In [ ]:
# put your code here