# Matplotlib and Seaborn

# Matplotlib
## (1) National Park

**(1.1) Import the dataset <code>park.csv</code>. Show the first five rows.**

**(1.2) Create a subset by selecting national parks in the following five states: CA, CO, UT, AK, WA. Use this subset to solve the next task.**

**(1.3) Create a figure consisting of two subplots. In the first subplot, use a bar chart to show the count of parks in each state. In the second subplot, use a pie chart to show the total park acreage for each state.**<br>

Setting:
- Title of the first subplot: Number of Parks by State
- Title of the second subplot: Total Park Acreage by State

# Seaborn

## (2) Titanic
The sinking of the Titanic is one of the most infamous shipwrecks in history, resulting in the death of 1502 out of 2224 passengers and crew. 
- **class**: Ticket class  (First/Second/Third)
- **who**: sex (man/woman)
- **embarked**: Port of Embarkation 
- **alive**: yes/no

**(2.1) Load the seaborn dataset <code>titanic</code>. Select the following columns and save the subset to a csv file.**<br>
Hint: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html <code>DataFrame.to_csv("filename.csv", index = False)</code>
- class	
- who
- embark_town
- alive

**(2.2) Import the dataset you saved in (2.1) and use it to complete the following tasks.**

**(2.3) Create a count plot to show the number of passengers in each group (man/woman/child).**<br>
Hint: Column <code>who</code>

**(2.4) Create a count plot to show the number of passengers in each group (man/woman/child). Additionally, different colored sub-bars are used to represent the number of passengers who survived and did not survive in each group.**

- **Question**: Among the different passenger groups (man/woman/child), which one exhibits the lowest survival rate?
- **Answer**:

**(2.5) Use a contingency table to display the numbers in (2.4).**<br>
Expected result:

|alive<br>who|no|yes|
|:-:|:-:|:-:|
|**child**|34|49|
|**man**|449|88|
|**woman**|66|205|

**(2.6) Use a heatmap to display the result in (2.5).**<br>
Setting: <code>cmap = "GnBu"</code>

**(2.7) Use three subplots to compare the survival of passengers in the following three groups: class = First, Class = Second, class = Third. In each subplot, draw two bars, each representing the number of surviving and non-surviving passengers.**<br>
Hint: <br>
<code>g = sns.FacetGrid(data =     , col = "   " )</code><br>
<code>g.map(sns.countplot, "    ", order = ["yes","no"])</code>

## (3) Diamond

**(3.1) Load the seaborn dataset <code>diamonds</code>. Show a summary that includes the column names and their corresponding data types.**

**(3.2) Use a count plot to visualize the number of diamonds in each <code>color</code> category**.

**(3.3) Calculate the average price for each <code>cut</code> category within each <code>color</code> category. Round the numbers to two decimal places.**<br>
Expected result:

|color<br>cut|D|E|...|...|J|
|--:|--:|--:|--:|--:|--:|
|**Ideal**|2629.09|...|...|...|...|
|**Premium**|...|...|...|...|...|
|**Very Good**|...|...|...|...|...|
|**Good**|...|...|...|...|...|
|**Fair**|...|...|...|...|...|

**(3.4) Use a heatmap to display the result obtained in (3.3). Answer the folllowing question in the markdown cell.**

- **Question**: Within this dataset of diamonds, which combination of "cut" category and "color" category exhibits the highest average price?
- **Answer**: The diamonds with a ___ cut and a color scale of ___ exhibit the highest average price.

**(3.5) Create a subset by selecting the data with color scale "I" and "premium" cut. Display the price distribution using a histogram.**

**(3.6) Use the subset obtained in (3.5) to show the relationship between <code>carat</code> and <code>price</code> in a scatter plot.**

**(3.7) Using the subset obtained in (3.5), create a joint plot showing the relationship between carat and price, and their individual distribution.**

**(3.8) Shows the relationship between <code>carat</code> and <code>price</code> for each <code>cut</code> category.**<br>
Hint: The figure should contain 5 subplots.