# Matplotlib and Seaborn

# Searborn

## (1) Customer profile analysis
A mall has gathered data on their customers through a loyalty program. They have information about age, gender, annual income and spending score. Spending Score is a measure from 0 to 100, created for each customer based on customer behavior and purchasing data.

**(1.1) Import dataset <code>customers.csv</code> and use the column <code>CustomerID</code> as the index. Rename the columns according to the table below.**<br>

|column name| new column name|
|:-:|:-:|
|Gender|gender|
|Age|age|
|Annual Income (k$)|income|
|Spending Score (1-100)|spending_score|

**(1.2) Use two histograms to show the distribution of <code>spending_score</code> for males and females, respectively. Both histograms are in the same plot, but with different colors.**<br>
Setting: bins = 25.

**(1.3)  Use a scatter plot to show the relationship between <code>income</code> and <code>spending_score</code>. Color points by the column <code>gender</code>.**

**(1.4) Use a scatter plot to show the relationship between <code>income</code> and <code>spending_score</code>. Color points by the column <code>age</code>.**<br>
Setting: palette = "cool"

**(1.5) Use a joint plot to show the relationship between <code>income</code> and <code>spending_score</code>, and their individual distribution.**

**(1.6) Use pair plot to show the relationship between the following variables: age, income, spending_score.**

**(1.7) Use pair plot to show the relationship between the following variables: age, income, spending_score. Color points by the column <code>gender</code>.**

## (2) Titanic
The sinking of the Titanic is one of the most infamous shipwrecks in history, resulting in the death of 1502 out of 2224 passengers and crew. 
- **class**: Ticket class  (First/Second/Third)
- **who**: sex (man/woman)
- **embarked**: Port of Embarkation 
- **alive**: yes/no

**(2.1) Load the seaborn dataset <code>titanic</code>. Select the following columns and save the subset to a csv file.**<br>
Hint: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html <code>DataFrame.to_csv("filename.csv", index = False)</code>
- class	
- who
- embark_town
- alive

**(2.2) Import the dataset you saved in (2.1) and use it to complete the following tasks.**

**(2.3) Count the number of passengers in different categories (man/woman/child) according to the column <code>who</code>. Display the result with a count plot.**

**(2.4) Count the number of passengers in different categories (man/woman/child) according to the column <code>who</code>. Display the result with a count plot and use two bars to display the number of <code>alive</code> (yes/no) passengers in each category. Which category has the lowest survival rate?**

**Write you answer here:**<br>
________ have the lowest survival rate.

**(2.5) Use a cross table to display the numbers in (2.4).**<br>
Expected result:

|alive<br>who|no|yes|
|:-:|:-:|:-:|
|**child**|34|49|
|**man**|449|88|
|**woman**|66|205|

**(2.6) Use a heatmap to display the result in (2.5).**<br>
Setting: <code>cmap = "GnBu"</code>

**(2.7) Use three subplots to compare the survival of passengers in the following three categories: class = First, Class = Second, class = Third. In each subplot, draw two bars, each representing the number of surviving and non-surviving passengers.**<br>
Hint: <code>col = "class"</code>

## (3) Diamond

**(3.1) Load the seaborn dataset <code>diamonds</code>. Show the name and data type of each column.**

**(3.2) Use countplot to display the number of diamonds in each <code>color</code> category**.

**(3.3) Calculate the average price for each <code>cut</code> category within each <code>clarity</code> category. Round the numbers to two decimal places.**<br>
Expected result:

||IF|VVS1|...|...|I1|
|--:|--:|--:|--:|--:|--:|
|**Ideal**|2272.91|...|...|...|...|
|**Premium**|...|...|...|...|...|
|**Very Good**|...|...|...|...|...|
|**Good**|...|...|...|...|...|
|**Fair**|...|...|...|...|...|

**(3.4) Use a heatmap to display the result obtained in (3.3).**

**(3.5) Shows the relationship between <code>carat</code> and <code>price</code> for each <code>cut</code> category.**<br>
Hint: The figure should contain 5 subplots.