# Pandas 2 - Data Preprocessing

## (1) Product sales

**(1.1) Given the following dataframes <code>df_price</code> and <code>df_sales</code>. Find the sales data for all the products listed in <code>df_price</code>. Which product is missing sales data?** (Write your answer in the markdown cell.)

In [ ]:
df_price = pd.DataFrame({"product_name":["A", "B", "C", "D", "E"], "price":[35, 10, 25, 30, 20]})
df_sales = pd.DataFrame({"product_name":["A", "B", "C", "E", "F"], "sales":[360, 470, 150, 290, 210]})
display(df_price)
display(df_sales)

**Write your answer here:**<br>
Product __ is missing sales data.

**(1.2) List the products for which both price and sales data are available.**

**(1.3) Take the result from (1.2) and save it as a new dataframe. Sort this new dataframe in descending order based on the 'Sales' column.**

**(1.4) Using the result from (1.2), display information for products with sales less than 300.**

## (2) Oslo city bike

**(2.1) Download the three months of Oslo city bike data from May to July 2023 using this link https://oslobysykkel.no/en/open-data/historical. Read these file as three dataframes and print out the dimensions of each file. Each row in the file represents a trip. Below are descriptions of some important variables (columns). A full description of each variable can be found at the link above.**<br> 
- **started_at**: Timestamp of when the trip started
- **ended_at**: Timestamp of when the trip ended
- **duration**: Duration of trip in seconds
- **start_station_name**: Name of the start station
- **end_station_name**: Name of the end station<br>

Map: https://oslobysykkel.no/en/stations

**(2.2) Combine the three dataframes obtaind in (2.1) into one dataframe. And use it to get the total number of trips recorded over the three months.**

**(2.3) Using the dataframe obtained in (2.2), extract a subset that includes the important columns listed in (2.1) and save this subset as a new dataframe. Use this new dataframe to solve the remaining tasks. Display the first five rows of this new dataframe.**

**(2.4) Using the dataframe obtained in (2.3), display the data for trips that started at the station "BI Nydalen" and ended at the station "Alexander Kiellands Plass".**<br>

**(2.5) Calculate the average riding time in seconds for trips from "BI Nydalen" to "Alexander Kiellands Plass". Round the result to two decimal places.**

**(2.6) For trips starting from "BI Nydalen", what are the top 3 most popular destination stations?**

**(2.7) What is the total number of trips that started from any of the following stations: <code>Stensparken</code>, <code>Thereses gate</code>, <code>Bislett Stadion</code>, or <code>Bislettgata</code>?**<br>
Hint: <code>isin()</code> https://www.geeksforgeeks.org/python-pandas-dataframe-isin/

## (3) Complains
In the US, 311 is a non-emergency phone number that people can call in many cities to find information about services, make complaints, or report problems like graffiti or road damage.

**(3.1) Import the dataset <code>complaints.csv</code>. Show the first 5 rows.**<br>
Note: You may receive a warning message (https://pandas.pydata.org/docs/reference/api/pandas.errors.DtypeWarning.html). You can try to solve this little problem. If you don't know how to fix it, you can still continue with the following tasks.

**(3.2) Show the column names and their data types in this dataset.**

**(3.3) How many rows and columns are there in the dataset?**<br>

**(3.4) Display the first five rows of columns <code>Complaint Type</code> and <code>Borough</code>.**

**(3.5) Show the number of complaints recorded in each region (borough).**<br>

**(3.6) Create a subset of the MANHATTAN area named <code>manhattan_df</code> and include only columns <code>Complaint Type</code> and <code>Borough</code>.**

**(3.7) Import the dataset <code>complaints_mapping.xlsx</code>. Show the data.**<br>
Hint: https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html

**(3.8) Use the dataset in (3.7), find the category of each complaint type in <code>manhattan_df</code>.**<br>
Example:

||Complaint Type|Borough|Category|
|:-:|:-:|:-:|:-:|
|0|Noise - Commercial|MANHATTAN|Noise|
|1|Noise - Vehicle	|MANHATTAN|NaN|
|2|Rodent|MANHATTAN|Rats|
|3|Noise - Commercial|MANHATTAN|Noise|
|...|...|...|...|

**(3.9) What are the five most common categories of complaints in Manhattan?**