# Pandas3 - Data Preprocessing and Calculation

## (1) Oil price

**(1.1) Given the following dataframe, calcualte the number of missing values in each column.**

In [ ]:
month = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
price = [63.9,None,66,71.5,70.9,61.9,None,59.4,None,58.5,63.3,64.5]
oil_df = pd.DataFrame({"month":month,"price":price})
oil_df

**(1.2) Use the dataframe in (1.1). Fill in missing values with the price of the previous month.**

**(1.3) Use the dataframe in (1.1). Fill in missing values with the average price. Round numbers to one decimal place.**

## (2) Melbourne housing data

**(2.1) Import the dataset <code>melbourne.csv</code>. Show the first five rows.**

**(2.2) Select the data for the following suburbs. Store the result as a new dataframe and use it to answer the remaining questions. Show the first five rows.** <br>
<code>Reservoir, Richmond, Brunswick, Bentleigh East, Coburg, Preston</code>

**(2.3) Calculate the average price in each suburb. Display the top three suburbs with the highest average price and round the result to one decimal place.**<br>

**(2.4) What is the largest </code>land size</code> in each suburb?**<br>
Hint: Column "Landsize"

**(2.5) What is the highest price in each region?**<br>
Hint: Column "Regionname"

## (3) US National Parks and their animal and plant species

The dataset "species.csv" provides information on the presence and status of species in US national parks. Each park species record includes a species ID, park name, taxonomic information, scientific name, one or more common names, record status, occurrence (verification of species presence in park), nativeness (species native or foreign to park), abundance (presence and visibility of species in park), seasonality (season and nature of presence in park), and conservation status (species classification according to US Fish & Wildlife Service). Taxonomic classes have been translated from Latin to English for species categorization; order, family, and scientific name (genus, species, subspecies) are in Latin.

**(3.1) Import the dataset <code>species.csv</code>. Show the summary of this dataset including column names and their data types.** (You will get a warning message about the data type. You can ignore this message, it will not affect the following exercises.)

**(3.2) Select all species belonging to "Canidae" family. Store the data as a new dataframe called <code>species_df</code> with the following columns: <code>'Species ID', 'Park Name', 'Common Names', 'Family', 'Abundance'</code>. Use this dataframe to answer questions 3.3 to 3.5.**

**(3.3) Replace missing values with "Unknown".** (Apply this change directly to the dataframe.)

**(3.4) Shows the number of species in each <code>Abundance</code> category.**<br>
Example:<br>
Uncommon:   95<br>
Common:     42<br>
...<br>
...

**(3.5) Calculate the number of species in each park and show the top five parks with the largest number of species.**<br>
Hint: column <code>Park Name</code>.

## (4) Customer profile analysis
A mall has gathered data on their customers through a loyalty program. They have information about age, gender, annual income and spending score. Spending Score is a measure from 0 to 100, created for each customer based on customer behavior and purchasing data.

**(4.1) Import dataset <code>customers.csv</code> and use the column <code>CustomerID</code> as the index. Display the first five rows.**<br>
Hint: pd.read_csv("filename", index_col = "CustomerID")

**(4.2) Rename the columns according to the table below.**<br>
Hint: df.columns = ['gender', 'age', 'income', 'spending_score']

|column name| new column name|
|:-:|:-:|
|Gender|gender|
|Age|age|
|Annual Income (k$)|income|
|Spending Score (1-100)|spending_score|

**(4.3) Calculate the average age for each gender group. Round the numbers to whole numbers.**<br>

**(4.4) Convert the column <code>age</code> to age group according to the table below. Store the result in a new column named <code>age_group</code>.**<br>
Hint: pd.cut()

|range| label|
|:-:|:-:|
|18-35| young adults|
|36-55| middle-aged adults|
|56-75| older adults |

**(4.5) Calculate the average income for each age group. Round the numbers to two decimal places.**<br>

**(4.6) Group the data by columns <code>age_group</code> and <code>gender</code>. Calculate the average spending score for each group. Round the numbers to two decimal places.**