# Variables and Data Types
**[1] Variables**<br>
**[2] Data types**<br>
**[3] Input & ouput**<br>
**[4] Error**

## [1] Variables

- **Variable assignment**

In [ ]:
n = 10

- **Variable reassignment**

In [ ]:
x = 2
print (x)
x = 3
print (x)

- **Variable naming rules**

In [ ]:
# Variable name cannot be a Python reserved word.
class = "A001"

In [ ]:
# Variable name cannot contain spaces.
item price = 150

In [ ]:
# Variable names cannot begin with a digit (0-9).
# They must start with a letter (a-z or A-Z) or an underscore (_).
1name = 30

In [ ]:
# Python is case-sensitive, meaning "Word" and "word" are considered as two different variables.
WORD = 'first'
word = 'second'
print(WORD)
print(word)

- **Type function**

In [ ]:
type("hello world")

In [ ]:
type(100.1)

In [ ]:
type("100.1")

In [ ]:
x = 10
type(x)

## [2] Data types

### [2.1] String

- **Use single or double quote marks**

In [ ]:
str1 = 'hello world'
str2 = "hello world"

In [ ]:
# the length of a string
len(str1)

- **Indexing**

In [ ]:
print(str1[0])
print(str1[4])

- **Slicing**

In [ ]:
str1[0:2]

In [ ]:
str1[4:7]

## Exercise.A

**(A.1) Define a variable with the name <code>mystr</code> and assign the string value <code>jupyter notebook</code> to this variable.**

**(A.2) Print the type of <code>mystr</code>.**

**(A.3) Get the length of the variable <code>mystr</code>.**

**(A.4) Get the 5th character in <code>mystr</code>.**

**(A.5) Get the substring <code>note</code> from the variable <code>mystr</code>.**

- **String methods**<br>
Method is like a function, but it is associated to certain data type.

In [ ]:
str1 = "hello world"

In [ ]:
#converts the string to uppercase
str1.upper()

In [ ]:
# a specified values is replaced with a sepcified value
str1.replace("world","John")

In [ ]:
# the number of times a specified value appears in the string
str1.count("o")

In [ ]:
# search for the position of the letter
str1.find("w")

In [ ]:
# search for the position of the substring
str1.find("world")

In [ ]:
str1.find("word")

- **String operators**

In [ ]:
s1 = "hello"
s2 = "world"
s1 + s2

In [ ]:
str1 = "hello world"
"world" in str1

In [ ]:
"word" in str1

## Exercise.B

**(B.1) Define a variable with the name <code>message</code> and assign the string value <code>Welcome to BI</code> to this variable.**

**(B.2) Convert all letters in <code>message</code> to uppercase.**

**(B.3) Replace <code>BI</code> with <code>Oslo</code>.**

**(B.4) Find the index position of the substring <code>to</code>.**

**(B.5) Check if the following variable contains the word <code>data</code>.**

In [ ]:
book = "Python for Data Analysis"

### [2.2] Numbers

In [ ]:
x = 2
y = 5.7
print(type(x))
print(type(y))

- **Functions for numbers**

In [ ]:
#returns the absolute value of the given number
x = -9
abs(x)

In [ ]:
# round a number
y = 21.9257
print(round(y))
print(round(y,2))

- **Type conversion**

In [ ]:
# float to integer
type(int(y))

In [ ]:
# integer to float
type(float(x))

In [ ]:
# string to integer
z1 = "20"     # z1 is string
z2 = int(z1)  # z2 is integer

- **Arithmetic operators**

In [ ]:
x = 5
y = 2

In [ ]:
# operator "/" divides two number and returns a floating point value
x / y

In [ ]:
# operator "//" divides two number and rounds the value down
x // y

In [ ]:
# operator "%" returns the remainder left over when one operand is divided by a second operand
x % y

## Exercise.C

**(C.1) Define a variable <code>n = 15.27391</code>. Print the data type of <code>n</code>.**

**(C.2) Round <code>n</code> to two decimal places.**

**(C.3) Calculate $\frac{(n+2)}{3}$.**

## [3] Input & Output

### [3.1] Input

In [ ]:
name = input('Enter your name:')
print('Hi', name)

In [ ]:
x1 = int(input('Enter a number:'))
x2 = int(input('Enter a number:'))
print ('The sum of the two numbers you have entered is:', x1+x2)

## Exercise.D

**(D.1) Write a program that asks user to enter the course ID and prints out the following message based on the entered value.**<br>
Expected result:

Enter course ID: <code>EBA3400</code>  
You have registered for the course EBA3400

**(D.2) Write a program that asks the user to enter their first name and last name, and prints out their initals.**
<br>

Expected result:<br>
First name: <code>James</code><br>
Last name: <code>Smith</code><br>
<code>JS</code>

### [3.2] Output

- **print function**

In [ ]:
text = "hello world"
print(text)

- **print multiple items**

In [ ]:
# print multiple items (items are automatically separated by a space)
c1 = "EXC3410"
c2 = "EXC3452"
c3 = "EXC3415"
print("I signed up for the following courses:", c1, c2, c3)

- **optional arguments**

In [ ]:
print("A", "B", "C", sep = "-")

In [ ]:
print("A", end = "_")
print("B", end = "_")
print("C", end = "_")

- **print multiple lines**

In [ ]:
print("HELLO\nWORLD")

In [ ]:
print("I signed up for the following courses:", c1, c2, c3, sep = "\n")

## Exercise.E

**(E.1) Given the following variables. Print the values of these variables on one line.**<br>
Expected result:
<code>
30 08 2023
</code>

In [ ]:
dd = "30"
mm = "08"
year = "2023"

**(E.2) Use the variables defined in (E.1). Print the values of these variables on one line and connect them with the symbol <code>-</code>.**<br>
Expected result:
<code>
30-08-2023
</code>

- **String formatting - (1) fstrings**

In [ ]:
case_num = 315
country = "Norway"
print(f"There were {case_num} confirmed cases in {country}.")

In [ ]:
r = 0.9684
print(f"The interest rate is {r}.")

In [ ]:
r = 0.9684
print(f"The interest rate is {r:.2f}.")

- **String formatting - (2) str.format()**

In [ ]:
case_num = 315
country = "Norway"
print("There were {} confirmed cases in {}.".format(case_num, country))

In [ ]:
r = 0.9684
print ("The interest rate is {}.".format(r))

In [ ]:
r = 0.9684
print ("The interest rate is {:.2f}.".format(r))

- **String formatting - (3) Old %string formatter** <br>
%d for integer<br>
%f for float<br>
%s for string

In [ ]:
case_num = 315
country = "Norway"
print("There were %d confirmed cases in %s." %(case_num, country))

In [ ]:
r = 0.9684
print ("The interest rate is %f" %r)

In [ ]:
r = 0.9684
print ("The interest rate is %.2f" %r)

## Exercise.F

**(F.1) Write a program that asks the user to enter their name and prints out the following text.** (Use fstrings)<br>
Expected result:<br>
Enter your name: <code>Max</code><br>
Hi Max, welcome to BI!

**(F.2) Write a program that asks the user to enter two numbers. Prints out the sum of these variable in the following format.**<br>
The sum of __ and __ is ___.<br>

First number: <code>10</code><br>
Second number: <code>5</code><br>
The sum of 10 and 5 is 15.

## [4] Error

- **Syntax errors**

In [ ]:
print "hello world"

- **Logic errors**

In [ ]:
x = float(input("Enter a number: "))
y = float(input("Enter a number: "))

z = x+y/2
print('The average of the two numbers you have enterd is',z)

- **Built-in exceptions**

In [ ]:
#Type error
str1 = "50"
str1/2

In [ ]:
#Name error
New = "hello"
print(new)

In [ ]:
# Zero division error
10/0

In [ ]:
# Index error
mystr = "hello"
mystr[5]