# Variables and Data Types
**[1] Variables**<br>
**[2] Data types**<br>
**[3] Operators**<br>
**[4] Input & ouput**<br>
**[5] Error**

In [66]:
x = 5

In [67]:
mystr = "hello"

In [68]:
type(mystr)

str

In [69]:
mystr[0]

'h'

In [70]:
mystr[0:2]

'he'

## [1] Variables

- **Variable reassignment**

In [1]:
x = 10
print (x)
x = "hello world"
print (x)

10
hello world

- **Variable naming rules**

In [2]:
#Variable name cannot be a Python reserved word 
class01 = "A001"

In [3]:
#Variable name cannot contain spaces
Itemprice = 150

In [4]:
#First character must be a letter or an underscore
name1 = 30

In [5]:
#Variable names are case sensitive
WORD = 'first'
word = 'second'
print(WORD)
print(word)

first
second

- **python reserved words (key words)**

In [6]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               break               for                 not
None                class               from                or
True                continue            global              pass
__peg_parser__      def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield

- **Types of values/variables**

In [7]:
type("hello world")

str

In [8]:
type(100.1)

float

In [9]:
type("100.1")

str

In [10]:
x = 10
type(x)

int

## [2] Data types

### [2.1] String

- **Use single or double quote marks**

In [11]:
str1 = 'hello world'
str2 = "hello world"

- **Indexing**

In [12]:
# the length of a string
len(str1)

11

In [13]:
print(str1[0])
print(str1[4])

h
o

- **Slicing**

In [14]:
str1[0:2]

'he'

In [15]:
str1[6:9]

'wor'

## Exercise.A

**(A.1) Define a variable with the name <code>mystr</code> and assign the string value <code>jupyter notebook</code> to this variable.**

**(A.2) Print the type of <code>mystr</code>.**

**(A.3) Get the length of the variable <code>mystr</code>.**

**(A.4) Get the 5th character in <code>mystr</code>.**

**(A.5) Get the substring <code>note</code> from the variable <code>mystr</code>.**

- **Build-in methods**

In [78]:
str1 = "hello world"

In [72]:
#converts the string to uppercase
str1.upper()

'HELLO WORLD'

In [73]:
str1

'hello world'

In [74]:
str1_upper = str1.upper()

In [75]:
str1_upper

'HELLO WORLD'

In [76]:
str1

'hello world'

In [77]:
str1 = str1.upper()
str1

'HELLO WORLD'

In [79]:
# a specified values is replaced with a sepcified value
str1.replace("world","John")

'hello John'

In [80]:
str1

'hello world'

In [81]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [19]:
# the number of times a specified value appears in the string
str1.count("o")

2

In [20]:
# search for the position of the letter
str1.find("w")

6

In [21]:
# search for the position of the substring
str1.find("world")

6

In [22]:
str1.find("word")

-1

- **"in" operator**

In [23]:
"world" in str1

True

In [24]:
"word" in str1

False

## Exercise.B

**(B.1) Define a variable with the name <code>message</code> and assign the string value <code>Welcome to BI</code> to this variable.**

In [82]:
message = "Welcome to BI"

**(B.2) Convert all letters in <code>message</code> to uppercase.**

In [83]:
message.upper()

'WELCOME TO BI'

**(B.3) Replace <code>BI</code> with <code>Oslo</code>.**

In [84]:
message.replace("BI","Oslo")

'Welcome to Oslo'

**(B.4) Find the index position of the substring <code>to</code>.**

In [85]:
message.find("to")

8

**(B.5) Check if the following variable contains the word <code>data</code>.**

In [86]:
book = "Python for Data Analysis"

In [87]:
"data" in book

False

In [88]:
"Data" in book

True

In [89]:
book.find("data")

-1

### [2.2] Numbers

In [25]:
x = 2
y = 5.7
print(type(x))
print(type(y))

<class 'int'>
<class 'float'>

- **Functions for numbers**

In [26]:
#returns the absolute value of the given number
x = -9
abs(x)

9

In [27]:
# round a number
y = 21.9257
print(round(y))
print(round(y,2))

22
21.93

- **Type conversion**

In [28]:
# float to integer
type(int(y))

int

In [29]:
# integer to float
type(float(x))

float

In [30]:
# string to integer
z1 = "20"     # z1 is string
z2 = int(z1)  # z2 is integer

In [93]:
x = 5
y = 2.5
print(type(x))
print(type(y))

<class 'int'>
<class 'float'>

In [91]:
print(type(x))

<class 'int'>

## [3] Operators

### [3.1] Math operators

In [61]:
x = 5
y = 2

In [62]:
# operator "/" divides two number and returns a floating point value
x/y

2.5

In [63]:
# operator "//" divides two number and rounds the value down
x//y

2

In [64]:
# operator "%" returns the remainder left over when one operand is divided by a second operand
x%y

1

$10^3$

In [94]:
10**3

1000

$\sqrt{4} = 4^{\frac{1}{2}}$

### [3.2] Comparison operators

In [35]:
x > y

True

In [36]:
x == y

False

In [37]:
x <= y

False

### [3.3] String operations

- **Math operators**

In [38]:
word1 = "hello"
word2 = "world"

In [39]:
print(word1 + word2)
print(word1 * 3)

helloworld
hellohellohello

- **Comparison operators**

In [40]:
word1 = "COVID-19"
word2 = "Covid-19"

In [41]:
word1 == word2

False

In [42]:
#ignore case when comparing
word1.casefold() == word2.casefold()

True

## Exercise.C

**(C.1) Define a variable <code>n = 15.27391</code>. Print the data type of <code>n</code>.**

In [95]:
n = 15.27391
type(n)

float

**(C.2) Round <code>n</code> to two decimal places.**

In [96]:
round(n, 2)

15.27

**(C.3) Divide <code>n</code> by <code>2</code> .**

In [97]:
n/2

7.636955

**(C.4) Use comparison operator to check if  <code>n ≤ 15</code> .**

In [98]:
n <= 15

False

### [3.4] More operators

- **Logical operators**

In [43]:
x = 5
y = 2

In [44]:
x == 5 and y ==2

True

In [45]:
x > 5 and y ==2

False

- **Assignment operators**

In [46]:
x = 2

In [47]:
x +=1 
x

3

## [4] Input & Output

### [4.1] Input

In [100]:
name = input('Enter your name:')
print('Hi', name)

Enter your name:James
Hi James

In [101]:
x1 = int(input('Enter a number:'))
x2 = int(input('Enter a number:'))
print ('The sum of the two numbers you have entered is:', x1+x2)

Enter a number:10
Enter a number:5
The sum of the two numbers you have entered is: 15

In [102]:
x3 = input("...")
print(type(x3))

...10
<class 'str'>

In [ ]:
x1 = input('Enter a number:')
x2 = input('Enter a number:')
print ('The sum of the two numbers you have entered is:', x1+x2)

## Exercise.D

**(D.1) Write a program that asks user to enter the course ID and prints out the following message based on the entered value.**<br>
Expected result:

Enter course ID: <code>EBA3400</code>  
You have registered for the course EBA3400

In [1]:
c = input("Enter course ID: ")
print("You have registered for the course", c )

Enter course ID: eba3400
You have registered for the course eba3400

**(D.2) Write a program that asks the user to enter their first name and last name, and prints out their initals.**
<br>

Expected result:<br>
First name: <code>James</code><br>
Last name: <code>Smith</code><br>
<code>JS</code>

In [4]:
f_name = input("First name: ")
l_name = input("Last name: ")
print(f_name[0]+l_name[0])

First name: James
Last name: Smith
JS

### [4.2] Output

- **print function**

In [48]:
text = "hello world"
print(text)

hello world

- **print multiple items**

In [49]:
# items are automatically separated by a space
ctry1 = "Iceland"
ctry2 = "Portugal"
ctry3 = "Finland"
print("Countries with a low risk", ctry1, ctry2, ctry3)

Countries with a low risk Iceland Portugal Finland

In [14]:
# argument “sep” and “end”
ctry1 = "Iceland"
ctry2 = "Portugal"
ctry3 = "Finland"
print("Countries with a low risk", ctry1, ctry2, ctry3, sep = ", ", end = ".")

Countries with a low risk, Iceland, Portugal, Finland.

In [15]:
print(f"Countries with a low risk: {ctry1}, {ctry2}, {ctry3}.")

Countries with a low risk: Iceland, Portugal, Finland.

- **print multiple lines**

In [ ]:
# use "\n"
print("There were 315 confirmed cases in Norway.\nThe R rate is 1.0.")

In [ ]:
ctry1 = "Iceland"
ctry2 = "Portugal"
ctry3 = "Finland"
print("Countries with a low risk", ctry1, ctry2, ctry3, sep = "\n")

## Exercise.E

**(E.1) Given the following variables. Print the values of these variables on one line.**<br>
Expected result:
<code>
30 08 2021
</code>

In [5]:
dd = "30"
mm = "08"
year = "2021"

In [6]:
print(dd, mm, year)

30 08 2021

**(E.2) Use the variables defined in (E.1). Print the values of these variables on one line and connect them with the symbol <code>-</code>.**<br>
Expected result:
<code>
30-08-2021
</code>

In [9]:
print(dd, mm, year, sep = "-")

30-08-2021

- **String formatting - (1) fstrings**

In [51]:
case_num = 315
country = "Norway"
print(f"There were {case_num} confirmed cases in {country}.")

There were 315 confirmed cases in Norway.

In [52]:
r = 0.9684
print(f"The interest rate is {r}.")

The interest rate is 0.9684.

In [53]:
r = 0.9684
print(f"The interest rate is {r:.2f}.")

The interest rate is 0.97.

- **String formatting - (2) str.format()**<br>
<code>%d</code> for integer<br>
<code>%f</code> for float

In [54]:
case_num = 315
country = "Norway"
print("There were {} confirmed cases in {}.".format(case_num, country))

There were 315 confirmed cases in Norway.

In [55]:
r = 0.9684
print ("The interest rate is {}.".format(r))

The interest rate is 0.9684.

In [56]:
r = 0.9684
print ("The interest rate is {:.2f}.".format(r))

The interest rate is 0.97.

- **String formatting - (3) Old %string formatter** <br>
%d for integer<br>
%f for float<br>
%s for string

In [57]:
case_num = 315
country = "Norway"
print("There were %d confirmed cases in %s." %(case_num, country))

There were 315 confirmed cases in Norway.

In [58]:
r = 0.9684
print ("The interest rate is %f" %r)

The interest rate is 0.968400

In [59]:
r = 0.9684
print ("The interest rate is %.2f" %r)

The interest rate is 0.97

## Exercise.F

**(F.1) Write a program that asks the user to enter their name and prints out the following text.** (Use fstrings)<br>
Expected result:<br>
Enter your name: <code>Max</code><br>
Hi Max, welcome to BI!

In [11]:
name = input("Enter your name: ")
print(f"Hi {name}, welcome to BI!")

Enter your name: Max
Hi Max, welcome to BI!

**(F.2) Write a program that asks the user to enter two numbers. Prints out the sum of these variable in the following format.**<br>
The sum of __ and __ is ___.<br>

First number: <code>10</code><br>
Second number: <code>5</code><br>
The sum of 10 and 5 is 15.

In [13]:
n1 = int(input("First number: "))
n2 = int(input("Second number: "))
print(f"The sum of {n1} and {n2} is {n1+n2}.")

First number: 100
Second number: 60
The sum of 100 and 60 is 160.

## [5] Error

- **Syntax errors**

In [60]:
print "hello world"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("hello world")? (3923495743.py, line 1)

- **Logic errors**

In [16]:
x = float(input("Enter a number: "))
y = float(input("Enter a number: "))

z = (x+y)/2
print('The average of the two numbers you have enterd is',z)

Enter a number: 3
Enter a number: 4
The average of the two numbers you have enterd is 3.5

- **Built-in exceptions**

In [62]:
#Type error
str1 = "50"
str1/2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [63]:
#Name error
New = "hello"
print(new)

NameError: name 'new' is not defined

In [64]:
# Zero division error
10/0

ZeroDivisionError: division by zero