# Lists
**[1] Creating a list**<br>
**[2] Index and slicing**<br>
**[3] Methods and operations**<br>
**[4] Lists and strings**

## [1] Creating a list

In [1]:
# A list of strings
name_list = ["Leo", "Nora", "Emma", "James", "Lucy"]

In [2]:
# An empty list
empty_list = []

In [3]:
# A list of numbers
price_list = [100, 200, 550, 300, 450, 150, 200]

In [4]:
# A list of mixed types
info = ['spam', 2.0, 5, [10, 20]]

## [2] Index and slicing

In [5]:
name_list = ["Leo", "Nora", "Emma", "James", "Lucy"]

In [6]:
print(name_list[1])

Nora

In [7]:
print(name_list[0:2])

['Leo', 'Nora']

In [8]:
#If you omit the first index, the slice starts at the beginning. 
print(name_list[:2])

['Leo', 'Nora']

In [9]:
#If you omit the second, the slice goes to the end. 
print(name_list[3:])

['James', 'Lucy']

In [10]:
#If you omit both, the slice is a copy of the whole list.
print(name_list[:])

['Leo', 'Nora', 'Emma', 'James', 'Lucy']

- **Nagative index**

In [11]:
name_list = ["Leo", "Nora", "Emma", "James", "Lucy"]
print(name_list[-1])

Lucy

In [12]:
print(name_list[-3:-1])

['Emma', 'James']

In [13]:
print(name_list[-3:])

['Emma', 'James', 'Lucy']

- **A list of lists**

In [14]:
#[day,month]
birthday_ddmm = [[12,'Oct'],[16,'Apr'],[19,'Feb'],[11,'Dec'],[9,'Jul']]

In [15]:
birthday_ddmm[0]    #get the birthday of the first person

[12, 'Oct']

In [16]:
birthday_ddmm[0][1] #get birthday month of the first person

'Oct'

- **Index and slicing assignments**

In [17]:
name_list = ["Leo", "Nora", "Emma", "James", "Lucy"]

In [18]:
name_list[1] = "Clara"
name_list

['Leo', 'Clara', 'Emma', 'James', 'Lucy']

In [19]:
name_list[2:4] = ["Ella","Jasper"]
name_list

['Leo', 'Clara', 'Ella', 'Jasper', 'Lucy']

## Exercise.A

**(A.1) Define a list named <code>str_list</code>, which contains the following elements: <code>A, B, C, D, E</code>. Print out the list.**

In [20]:
str_list = ["A","B","C","D","E"]
print(str_list)

['A', 'B', 'C', 'D', 'E']

**(A.2) Print the first element in <code>str_list</code>.**

In [21]:
str_list[0]

'A'

**(A.3) Use slice notation to print out <code>['B', 'C', 'D']</code>.**

In [22]:
str_list[1:4]

['B', 'C', 'D']

**(A.4) Print the last element in <code>str_list</code>.**

In [23]:
str_list[-1]

'E'

In [24]:
str_list[4]

'E'

**(A.5) Replace the last element <code>'E'</code> with <code>'F'</code> and print the updated list.**

In [25]:
str_list[-1] = "F"
str_list

['A', 'B', 'C', 'D', 'F']

## [3] Methods and operations

### [3.1] List methods

In [26]:
name_list = ["Leo", "Nora", "Emma", "James", "Lucy"]

- **append**

In [27]:
name_list.append("Henry") # add a new item to the end of a list
name_list

['Leo', 'Nora', 'Emma', 'James', 'Lucy', 'Henry']

- **insert**

In [28]:
name_list.insert(2,'Mia') # insert an item at given position 
name_list

['Leo', 'Nora', 'Mia', 'Emma', 'James', 'Lucy', 'Henry']

- **remove**

In [29]:
name_list.remove("Emma")  # remove an item
name_list

['Leo', 'Nora', 'Mia', 'James', 'Lucy', 'Henry']

- **extend**

In [30]:
name_list = ["Leo", "Nora", "Emma", "James", "Lucy"]

In [31]:
added_name = ['Henry','Mia']
name_list.extend(added_name)
print(name_list)

['Leo', 'Nora', 'Emma', 'James', 'Lucy', 'Henry', 'Mia']

- **sort**

In [32]:
number_list = [4, 3, 5, 0, 2, 1]
number_list.sort()
print(number_list)

[0, 1, 2, 3, 4, 5]

In [33]:
name_list = ["Leo", "Nora", "Emma", "James", "Lucy"]
name_list.sort()
print(name_list)

['Emma', 'James', 'Leo', 'Lucy', 'Nora']

- **In-place methods**

In [34]:
# In-place methods can alter the contents of the list
list_1 = [1,2,3]
list_1.append(4)
print(list_1)

[1, 2, 3, 4]

In [35]:
# Most in-place methods return 'None'
list_1 = [1,2,3]
list_2 = list_1.append(4)
print(list_2)

None

## Exercise.B

**(B.1) Considering the following lists. Add a new item <code>'F'</code> to the end of the list.**

In [36]:
str_list = ['A','B','C','D','E']

In [37]:
str_list.append("F")

In [38]:
str_list

['A', 'B', 'C', 'D', 'E', 'F']

**(B.2) Insert an item <code>'Z'</code> between <code>'B'</code> and <code>'C'</code>.**

In [39]:
str_list.insert(2, "Z")
str_list

['A', 'B', 'Z', 'C', 'D', 'E', 'F']

**(B.3) Remove <code>'A'</code> from the list.**

In [40]:
str_list.remove("A")
print(str_list)

['B', 'Z', 'C', 'D', 'E', 'F']

**(B.4) Sort the items in lexicographic order.**

In [41]:
str_list.sort()
str_list

['B', 'C', 'D', 'E', 'F', 'Z']

- **count**

In [42]:
item_list = ["apple", "milk", "egg", "apple", "fish", "beef"]

In [43]:
apple_count = item_list.count("apple")
print(apple_count)
print(item_list)

2
['apple', 'milk', 'egg', 'apple', 'fish', 'beef']

- **pop**

In [44]:
mylist = ['a', 'b', 'c', 'd', 'e']
deleted_item = mylist.pop(1) #store the deleted item in a new variable “deleted_item”
print(mylist)
print(deleted_item)

['a', 'c', 'd', 'e']
b

In [45]:
mylist = ['a', 'b', 'c', 'd', 'e']
deleted_item = mylist.pop()  
print(mylist)
print(deleted_item)

['a', 'b', 'c', 'd']
e

### [3.2] Operators

- **'del' operator**

In [46]:
mylist = ['a', 'b', 'c', 'd', 'e']
del mylist[1]
print(mylist)

['a', 'c', 'd', 'e']

In [47]:
mylist = ['a', 'b', 'c', 'd', 'e']
del mylist[1:3]
print(mylist)

['a', 'd', 'e']

- **"in" operator**

In [48]:
item_list = ["apple", "milk", "egg", "apple", "fish", "beef"]
"apple" in item_list

True

In [49]:
item_list = ["apple", "milk", "egg", "apple", "fish", "beef"]
"Apple" in item_list

False

- **math operators**

In [50]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(a)

[1, 2, 3]

In [51]:
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

### [3.3] Build-in functions

In [52]:
number_list = [3, 41, 12, 9, 74, 15]

In [53]:
len(number_list)  # Number of elements

6

In [54]:
max(number_list) # Maximum value in the list

74

In [55]:
min(number_list)  # Minimum value in the list

3

In [56]:
sum(number_list) # The sum of all elements

154

## Exercise.C

**(C.1) Considering the following list. Use <code>pop()</code> method to remove <code>'Sun'</code>. Print the updated list and the deleted element.**<br>
Expected result:
<code>
['Mon','Tue','Wed','Thu','Fri','Sat']
'Sun'
</code>

In [57]:
day_list = ['Mon','Tue','Wed','Thu','Fri','Sat','Sun']

In [58]:
day_list.pop()
print(day_list)

['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']

**(C.2) Use <code>del</code> operator to remove the first two elements in <code>day_list</code>.**

In [59]:
del day_list[:2]
print(day_list)

['Wed', 'Thu', 'Fri', 'Sat']

**(C.3) Considering the following list. Check if <code>'z'</code> in the list.**

In [60]:
mylist = ['x','w','y','x','y','z','y','x','x','w','y','z']

In [61]:
'z' in mylist

True

**(C.4) Use <code>mylist</code> defined in (C.3). Get the number of elements in <code>mylist</code>.**

In [62]:
len(mylist)

12

**(C.5) Use <code>mylist</code> defined in (C.3). Count the number of times the value <code>'x'</code> appears in the the list.**

In [63]:
mylist.count("x")

4

## [4] Lists and strings

- **Break a string into words**

In [64]:
mystr = 'Python for Everybody'
mylist = mystr.split()
print(mylist)

['Python', 'for', 'Everybody']

- **Split a string by seperator**

In [65]:
mystr = 'Python-for-Everybody'
mylist = mystr.split('-')     # mystr.split(sep = '-')
print(mylist)

['Python', 'for', 'Everybody']

- **Concatenates the elements by join method**

In [66]:
mylist = ['Python', 'for', 'Everybody']
delimiter1 = ' '
mystr = delimiter1.join(mylist)
print(mystr)

Python for Everybody

In [67]:
delimiter2 = '-'
mystr = delimiter2.join(mylist)
print(mystr)

Python-for-Everybody

- **Mutable and immutable<br>**

In [68]:
# Lists are mutable
list_1 = [1,2,3]
list_1.append(4)
print(list_1)

[1, 2, 3, 4]

In [69]:
# strings are immutable
str_1 = "ABC"
str_1.replace("A","Z")

'ZBC'

In [70]:
# The previous step "replace" did not change the value of str1
str_1

'ABC'

In [71]:
str_2 = str_1.replace("A","Z")
str_2

'ZBC'

## Exercise.D

**(D.1) Concatenate the following strings into a string named <code>mystr</code>.**<br>
Hint: Use math operator.<br>
Expected output:
<code>
#WWDC21#iphon13#apple#iOS15#MacBook#swift#ios15#swiftui#xcode#apple#MobileAppDevelopment#wwdc21#iosdev"#Apple#AppleEvent#Developer#WWDC"
</code>

In [72]:
tweet1 = "#WWDC21#iphon13#apple#iOS15#MacBook"
tweet2 = "#swift#ios15#swiftui#xcode#apple#MobileAppDevelopment#wwdc21#iosdev"
tweet3 = "#Apple#AppleEvent#Developer#WWDC"

In [73]:
mystr = tweet1+tweet2+tweet3
mystr

'#WWDC21#iphon13#apple#iOS15#MacBook#swift#ios15#swiftui#xcode#apple#MobileAppDevelopment#wwdc21#iosdev#Apple#AppleEvent#Developer#WWDC'

**(D.2) Convert <code>mystr</code>to all uppercase and store the value in a new variable  named <code>mystr_upper</code>.**

In [74]:
mystr_upper = mystr.upper()
mystr_upper

'#WWDC21#IPHON13#APPLE#IOS15#MACBOOK#SWIFT#IOS15#SWIFTUI#XCODE#APPLE#MOBILEAPPDEVELOPMENT#WWDC21#IOSDEV#APPLE#APPLEEVENT#DEVELOPER#WWDC'

**(D.3) Convert <code>mystr_upper</code>to a list of words.**<br>
Hint: Use "#" as seperator

In [75]:
word_list = mystr_upper.split("#")
print(word_list)

['', 'WWDC21', 'IPHON13', 'APPLE', 'IOS15', 'MACBOOK', 'SWIFT', 'IOS15', 'SWIFTUI', 'XCODE', 'APPLE', 'MOBILEAPPDEVELOPMENT', 'WWDC21', 'IOSDEV', 'APPLE', 'APPLEEVENT', 'DEVELOPER', 'WWDC']

**(D.4) Count the number of times the value 'WWDC21' appears in the list.**

In [76]:
word_list.count("WWDC21")

2