# Lists
**[1] Creating a list**<br>
**[2] Index and slicing**<br>
**[3] Methods and operations**<br>
**[4] Lists and strings**

## [1] Creating a list

In [ ]:
# A list of strings
name_list = ["Leo", "Nora", "Emma", "James", "Lucy"]

In [ ]:
# An empty list
empty_list = []

In [ ]:
# A list of numbers
price_list = [100, 200, 550, 300, 450, 150, 200]

In [ ]:
# A list of mixed types
info = ['spam', 2.0, 5, [10, 20]]

## [2] Index and slicing

In [ ]:
name_list = ["Leo", "Nora", "Emma", "James", "Lucy"]

In [ ]:
print(name_list[1])

In [ ]:
print(name_list[0:2])

In [ ]:
#If you omit the first index, the slice starts at the beginning. 
print(name_list[:2])

In [ ]:
#If you omit the second, the slice goes to the end. 
print(name_list[3:])

In [ ]:
#If you omit both, the slice is a copy of the whole list.
print(name_list[:])

- **Nagative index**

In [ ]:
name_list = ["Leo", "Nora", "Emma", "James", "Lucy"]
print(name_list[-1])

In [ ]:
print(name_list[-3:-1])

In [ ]:
print(name_list[-3:])

- **A list a nested sublists**

In [ ]:
#[day,month]
birthday_ddmm = [[12,'Oct'],[16,'Apr'],[19,'Feb'],[11,'Dec'],[9,'Jul']]

In [ ]:
birthday_ddmm[0]    #get the birthday of the first person

In [ ]:
birthday_ddmm[0][1] #get birthday month of the first person

- **Index and slicing assignments**

In [ ]:
name_list = ["Leo", "Nora", "Emma", "James", "Lucy"]

In [ ]:
name_list[1] = "Clara"
name_list

In [ ]:
name_list[2:4] = ["Ella","Jasper"]
name_list

## Exercise.A

**(A.1) Define a list named <code>str_list</code>, which contains the following elements: <code>A, B, C, D, E</code>. Print out the list.**

In [1]:
str_list = ["A","B","C","D","E"]
str_list

['A', 'B', 'C', 'D', 'E']

**(A.2) Print the first element in <code>str_list</code>.**

In [2]:
str_list[0]

'A'

**(A.3) Use slice notation to print out <code>['B', 'C', 'D']</code>.**

In [3]:
str_list[1:4]

['B', 'C', 'D']

**(A.4) Print the last element in <code>str_list</code>.**

In [5]:
str_list[-1]

'E'

**(A.5) Replace the last element <code>'E'</code> with <code>'F'</code> and print the updated list.**

In [6]:
str_list[-1] = "F"
str_list

['A', 'B', 'C', 'D', 'F']

## [3] Methods and operations

### [3.1] List methods

In [ ]:
name_list = ["Leo", "Nora", "Emma", "James", "Lucy"]

- **append**

In [ ]:
name_list.append("Henry") # add a new item to the end of a list
name_list

- **insert**

In [ ]:
name_list.insert(2,'Mia') # insert an item at given position 
name_list

- **remove**

In [ ]:
name_list.remove("Emma")  # remove an item
name_list

- **extend**

In [7]:
name_list = ["Leo", "Nora", "Emma", "James", "Lucy"]

In [8]:
added_name = ['Henry','Mia']
name_list.extend(added_name)
print(name_list)

['Leo', 'Nora', 'Emma', 'James', 'Lucy', 'Henry', 'Mia']

In [9]:
name_list = ["Leo", "Nora", "Emma", "James", "Lucy"]
name_list.append(added_name)
name_list

['Leo', 'Nora', 'Emma', 'James', 'Lucy', ['Henry', 'Mia']]

In [10]:
len(name_list)

6

In [12]:
name_list.sort?

- **sort**

In [14]:
number_list = [4, 3, 5, 0, 2, 1]
number_list.sort(reverse = True)
print(number_list)

[5, 4, 3, 2, 1, 0]

In [ ]:
name_list = ["Leo", "Nora", "Emma", "James", "Lucy"]
name_list.sort()
print(name_list)

- **In-place methods**

In [ ]:
# In-place methods can alter the contents of the list
list_1 = [1,2,3]
list_1.append(4)
print(list_1)

In [ ]:
# Most in-place methods return 'None'
list_1 = [1,2,3]
list_2 = list_1.append(4)
print(list_2)

## Exercise.B

**(B.1) Considering the following lists. Add a new item <code>'F'</code> to the end of a list.**

In [15]:
str_list = ['A','B','C','D','E']

In [16]:
str_list.append("F")
str_list

['A', 'B', 'C', 'D', 'E', 'F']

**(B.2) Insert an item <code>'Z'</code> between <code>'B'</code> and <code>'C'</code>.**

In [17]:
str_list.insert(2, "Z")
str_list

['A', 'B', 'Z', 'C', 'D', 'E', 'F']

**(B.3) Remove <code>'A'</code> from the list.**

In [18]:
str_list.remove("A")
str_list

['B', 'Z', 'C', 'D', 'E', 'F']

**(B.4) Sort the items in lexicographic order.**

In [22]:
str_list.sort()
str_list

['B', 'C', 'D', 'E', 'F', 'Z']

- **count**

In [23]:
item_list = ["apple", "milk", "egg", "apple", "fish", "beef"]

In [24]:
apple_count = item_list.count("apple")
print(apple_count)
print(item_list)

2
['apple', 'milk', 'egg', 'apple', 'fish', 'beef']

In [25]:
item_list.count("apple")

2

- **pop**

In [26]:
mylist = ['a', 'b', 'c', 'd', 'e']
deleted_item = mylist.pop(1) #store the deleted item in a new variable “deleted_item”
print(mylist)
print(deleted_item)

['a', 'c', 'd', 'e']
b

In [27]:
mylist = ['a', 'b', 'c', 'd', 'e']
mylist.pop(1)
print(mylist)

['a', 'c', 'd', 'e']

In [ ]:
mylist = ['a', 'b', 'c', 'd', 'e']
deleted_item = mylist.pop()  
print(mylist)
print(deleted_item)

### [3.2] Operators

- **'del' operator**

In [ ]:
mylist = ['a', 'b', 'c', 'd', 'e']
del mylist[1]
print(mylist)

In [ ]:
mylist = ['a', 'b', 'c', 'd', 'e']
del mylist[1:3]
print(mylist)

- **"in" operator**

In [ ]:
item_list = ["apple", "milk", "egg", "apple", "fish", "beef"]
"apple" in item_list

In [ ]:
item_list = ["apple", "milk", "egg", "apple", "fish", "beef"]
"Apple" in item_list

- **math operators**

In [28]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6]

In [29]:
a = [1, 2, 3]
b = [4, 5, 6]
a.extend(b)
a

[1, 2, 3, 4, 5, 6]

In [ ]:
a*3

### [3.3] Build-in functions

In [ ]:
number_list = [3, 41, 12, 9, 74, 15]

In [ ]:
len(number_list)  # Number of elements

In [ ]:
max(number_list) # Maximum value in the list

In [ ]:
min(number_list)  # Minimum value in the list

In [ ]:
sum(number_list) # The sum of all elements

## Exercise.C

**(C.1) Considering the following list. Use <code>pop()</code> method to remove <code>'Sun'</code>. Print the updated list and the deleted element.**<br>
Expected result:
<code>
['Mon','Tue','Wed','Thu','Fri','Sat']
'Sun'
</code>

In [30]:
day_list = ['Mon','Tue','Wed','Thu','Fri','Sat','Sun']

In [31]:
del_item = day_list.pop(-1)
print(day_list)
print(del_item)

['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']
Sun

**(C.2) Use <code>del</code> operator to remove the first two elements in <code>day_list</code>.**

In [32]:
del day_list[:2]
day_list

['Wed', 'Thu', 'Fri', 'Sat']

**(C.3) Considering the following list. Check if <code>'z'</code> in the list.**

In [33]:
mylist = ['x','w','y','x','y','z','y','x','x','w','y','z']

In [34]:
'z' in mylist

True

**(C.4) Use mylist defined in (C.3). Get the number of elements in <code>mylist</code>.**

In [36]:
len(mylist)

12

**(C.5) Use <code>mylist</code> defined in (C.3). Count the number of times the value <code>'x'</code> appears in the the list.**

In [38]:
cnt_x = mylist.count("x")
cnt_w = mylist.count("w")
cnt_y = mylist.count("y")
print(cnt_x, cnt_w, cnt_y)

4 2 4

## [4] Lists and strings

- **Break a string into words**

In [ ]:
mystr = 'Python for Everybody'
mylist = mystr.split()
print(mylist)

- **Split a string by seperator**

In [ ]:
mystr = 'Python-for-Everybody'
mylist = mystr.split('-')     # mystr.split(sep = '-')
print(mylist)

- **Concatenates the elements by join method**

In [ ]:
mylist = ['Python', 'for', 'Everybody']
delimiter1 = ' '
mystr = delimiter1.join(mylist)
print(mystr)

In [ ]:
delimiter2 = '-'
mystr = delimiter2.join(mylist)
print(mystr)

- **Mutable and immutable<br>**

In [ ]:
# Lists are mutable
list_1 = [1,2,3]
list_1.append(4)
print(list_1)

In [ ]:
# strings are immutable
str_1 = "ABC"
str_1.replace("A","Z")

In [ ]:
str_1

In [ ]:
str_2 = str_1.replace("A","Z")
str_2

## Exercise.D

**(D.1) Concatenate the following strings into a string named <code>mystr</code>.**<br>
Expected output:
<code>
#WWDC21#iphon13#apple#iOS15#MacBook#swift#ios15#swiftui#xcode#apple#MobileAppDevelopment#wwdc21#iosdev"#Apple#AppleEvent#Developer#WWDC"
</code>

In [40]:
tweet1 = "#WWDC21#iphon13#apple#iOS15#MacBook"
tweet2 = "#swift#ios15#swiftui#xcode#apple#MobileAppDevelopment#wwdc21#iosdev"
tweet3 = "#Apple#AppleEvent#Developer#WWDC"

In [41]:
mystr = tweet1+tweet2+tweet3
mystr

'#WWDC21#iphon13#apple#iOS15#MacBook#swift#ios15#swiftui#xcode#apple#MobileAppDevelopment#wwdc21#iosdev#Apple#AppleEvent#Developer#WWDC'

In [49]:
type(mystr)

str

**(D.2) Convert <code>mystr</code>to all uppercase and store the value in a new variable <code>mystr_upper</code>.**

In [42]:
mystr_upper = mystr.upper()
mystr_upper

'#WWDC21#IPHON13#APPLE#IOS15#MACBOOK#SWIFT#IOS15#SWIFTUI#XCODE#APPLE#MOBILEAPPDEVELOPMENT#WWDC21#IOSDEV#APPLE#APPLEEVENT#DEVELOPER#WWDC'

**(D.3) Convert <code>mystr_upper</code>to a list of words.**<br>
Hint: Use "#" as seperator

In [45]:
mylist = mystr_upper.split("#")
mylist

['',
 'WWDC21',
 'IPHON13',
 'APPLE',
 'IOS15',
 'MACBOOK',
 'SWIFT',
 'IOS15',
 'SWIFTUI',
 'XCODE',
 'APPLE',
 'MOBILEAPPDEVELOPMENT',
 'WWDC21',
 'IOSDEV',
 'APPLE',
 'APPLEEVENT',
 'DEVELOPER',
 'WWDC']

**(D.4) Count the number of times the value 'WWDC21' appears in the list.**

In [46]:
mylist.count("WWDC21")

2

In [48]:
cnt_WWDC21 = mylist.count("WWDC21")
cnt_apple = mylist.count("APPLE")
cnt_ios = mylist.count("IOS15")
print(cnt_WWDC21, cnt_apple, cnt_ios)

2 3 2