# Lists
**[1] Creating a list**<br>
**[2] Index and slicing**<br>
**[3] List manipulation**<br>
**[4] List and string**

## [1] Creating a list

In [1]:
# A list of strings
name_list = ["Leo", "Nora", "Emma", "James", "Lucy"]

In [2]:
# An empty list
empty_list = []

In [3]:
# A list of numbers
price_list = [100, 200, 550, 300, 450, 150, 200]

In [4]:
# A list of mixed types
info = ['spam', 2.0, 5, [10, 20]]

## [2] Index and slicing

In [5]:
name_list = ["Leo", "Nora", "Emma", "James", "Lucy"]

In [6]:
print(name_list[1])

Nora

In [7]:
print(name_list[0:2])

['Leo', 'Nora']

In [8]:
#If you omit the first index, the slice starts at the beginning. 
print(name_list[:2])

['Leo', 'Nora']

In [9]:
#If you omit the second, the slice goes to the end. 
print(name_list[3:])

['James', 'Lucy']

In [10]:
#If you omit both, the slice is a copy of the whole list.
print(name_list[:])

['Leo', 'Nora', 'Emma', 'James', 'Lucy']

- **Nagative index**

In [11]:
name_list = ["Leo", "Nora", "Emma", "James", "Lucy"]
print(name_list[-1])

Lucy

In [12]:
print(name_list[-3:-1])

['Emma', 'James']

In [13]:
print(name_list[-3:])

['Emma', 'James', 'Lucy']

- **A list of lists**

In [14]:
#[day,month]
birthday_ddmm = [[12,'Oct'],[16,'Apr'],[19,'Feb'],[11,'Dec'],[9,'Jul']]

In [15]:
birthday_ddmm[0]    #get the birthday of the first person

[12, 'Oct']

In [16]:
birthday_ddmm[0][1] #get birthday month of the first person

'Oct'

## Exercise.A

**(A.1) Define a list named <code>str_list</code>, which contains the following elements: <code>A, B, C, D, E</code>. Print out the list.**

**(A.2) Print the first element in <code>str_list</code>.**

**(A.3) Use slice notation to print out <code>['B', 'C', 'D']</code>.**

**(A.4) Print the last element in <code>str_list</code>.**

**(A.5) Print the last two elements in <code>str_list</code>.**

## [3] List manipulation

### [3.1] Change elements

In [17]:
name_list = ["Leo", "Nora", "Emma", "James", "Lucy"]

In [18]:
name_list[1] = "Clara"
name_list

['Leo', 'Clara', 'Emma', 'James', 'Lucy']

In [19]:
name_list[2:4] = ["Ella","Jasper"]
name_list

['Leo', 'Clara', 'Ella', 'Jasper', 'Lucy']

### [3.2] Methods

In [20]:
name_list = ["Leo", "Nora", "Emma", "James", "Lucy"]

- **append**

In [21]:
name_list.append("Henry") # add a new item to the end of a list
name_list

['Leo', 'Nora', 'Emma', 'James', 'Lucy', 'Henry']

- **insert**

In [22]:
name_list.insert(2,'Mia') # insert an item at given position 
name_list

['Leo', 'Nora', 'Mia', 'Emma', 'James', 'Lucy', 'Henry']

- **remove**

In [23]:
name_list.remove("Emma")  # remove an item
name_list

['Leo', 'Nora', 'Mia', 'James', 'Lucy', 'Henry']

- **extend**

In [24]:
name_list = ["Leo", "Nora", "Emma", "James", "Lucy"]

In [25]:
added_name = ['Henry','Mia']
name_list.extend(added_name)
print(name_list)

['Leo', 'Nora', 'Emma', 'James', 'Lucy', 'Henry', 'Mia']

- **sort**

In [26]:
number_list = [4, 3, 5, 0, 2, 1]
number_list.sort()

print(number_list)

[0, 1, 2, 3, 4, 5]

In [27]:
number_list.sort(reverse = True)
number_list

[5, 4, 3, 2, 1, 0]

In [28]:
name_list = ["Leo", "Nora", "Emma", "James", "Lucy"]
name_list.sort()
print(name_list)

['Emma', 'James', 'Leo', 'Lucy', 'Nora']

## Exercise.B

**(B.1) Considering the following lists. Add a new item <code>'F'</code> to the end of the list.**

In [29]:
str_list = ['A','B','C','D','E']

**(B.2) Insert an item <code>'Z'</code> between <code>'B'</code> and <code>'C'</code>.**

**(B.3) Remove <code>'A'</code> from the list.**

**(B.4) Sort the items in lexicographic order.**

- **count**

In [30]:
item_list = ["apple", "milk", "egg", "apple", "fish", "beef"]

In [31]:
item_list.count("apple")

2

In [32]:
# Assign the return value to a new variable for future use
cnt = item_list.count("apple")

print("Number of apples:", cnt)

Number of apples: 2

- **pop**

In [33]:
mylist = ['a', 'b', 'c', 'd', 'e']
mylist.pop(1)

'b'

In [34]:
print(mylist)

['a', 'c', 'd', 'e']

In [35]:
mylist = ['a', 'b', 'c', 'd', 'e']
mylist.pop()

'e'

In [36]:
print(mylist)

['a', 'b', 'c', 'd']

### [3.3] Operators

- **'del' operator**

In [37]:
mylist = ['a', 'b', 'c', 'd', 'e']
del mylist[1]
print(mylist)

['a', 'c', 'd', 'e']

In [38]:
mylist = ['a', 'b', 'c', 'd', 'e']
del mylist[1:3]
print(mylist)

['a', 'd', 'e']

- **"in" operator**

In [39]:
item_list = ["apple", "milk", "egg", "apple", "fish", "beef"]
"apple" in item_list

True

In [40]:
item_list = ["apple", "milk", "egg", "apple", "fish", "beef"]
"Apple" in item_list

False

- **arithmetic operators**

In [41]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(a)

[1, 2, 3]

In [42]:
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

### [3.4] Built-in functions

In [43]:
number_list = [3, 41, 12, 9, 74, 15]

In [44]:
len(number_list)  # Number of elements

6

In [45]:
max(number_list) # Maximum value in the list

74

In [46]:
min(number_list)  # Minimum value in the list

3

In [47]:
sum(number_list) # The sum of all elements

154

## Exercise.C

**(C.1) Considering the following list. Use <code>pop()</code> method to remove <code>'Sun'</code>. Print the updated list and the deleted element.**<br>
Expected result:
<code>
['Mon','Tue','Wed','Thu','Fri','Sat']
'Sun'
</code>

In [48]:
day_list = ['Mon','Tue','Wed','Thu','Fri','Sat','Sun']

**(C.2) Use <code>del</code> operator to remove the first two elements in <code>day_list</code>.**

**(C.3) Considering the following list. Check if <code>'z'</code> in the list.**

In [49]:
mylist = ['x','w','y','x','y','z','y','x','x','w','y','z']

**(C.4) Use <code>mylist</code> defined in (C.3). Get the number of elements in <code>mylist</code>.**

**(C.5) Use <code>mylist</code> defined in (C.3). Count the number of times the value <code>'x'</code> appears in the the list.**

## [4] Lists and strings

- **Break a string into words**

In [50]:
mystr = 'Python for Everybody'
mystr.split()

['Python', 'for', 'Everybody']

- **Split a string by seperator**

In [51]:
mystr = 'Python-for-Everybody'
mystr.split('-')     # mystr.split(sep = '-')

['Python', 'for', 'Everybody']

- **Concatenates the elements by join method**

In [52]:
mylist = ['Python', 'for', 'Everybody']
delimiter1 = ' '
delimiter1.join(mylist)

'Python for Everybody'

In [53]:
delimiter2 = '-'
delimiter2.join(mylist)

'Python-for-Everybody'

- **Mutable and immutable<br>**

In [54]:
# Lists are mutable
list_1 = [1,2,3]
list_1.append(4)
print(list_1)

[1, 2, 3, 4]

In [55]:
# strings are immutable
str_1 = "ABC"
str_1.replace("A","Z")

'ZBC'

In [56]:
# The previous step "replace" did not change the value of str1
str_1

'ABC'

In [57]:
str_2 = str_1.replace("A","Z")
str_2

'ZBC'

## Exercise.D

**(D.1) Combine the following strings to create a new string named <code>mystr</code>.**<br>
Hint: Use arithmetic operator.<br>
Expected output:
<code>
#WWDC21#iphon13#apple#iOS15#MacBook#swift#ios15#swiftui#xcode#apple#MobileAppDevelopment#wwdc21#iosdev"#Apple#AppleEvent#Developer#WWDC"
</code>

In [58]:
tweet1 = "#WWDC21#iphon13#apple#iOS15#MacBook"
tweet2 = "#swift#ios15#swiftui#xcode#apple#MobileAppDevelopment#wwdc21#iosdev"
tweet3 = "#Apple#AppleEvent#Developer#WWDC"

**(D.2) Convert <code>mystr</code>to all uppercase and store the value in a new variable  named <code>mystr_upper</code>.**

**(D.3) Convert <code>mystr_upper</code>to a list of words.**<br>
Hint: Use "#" as seperator

**(D.4) Count the number of times the value 'WWDC21' appears in the list.**