## Dictionay, Tuple and Set

**[1] Tuple**<br>
**[2] Set**<br>
**[3] Dictionary**<br>
**[4] Zip**<br>
**[5] List comprehension**<br>

## [1] Tuple

- **Creation**

In [1]:
tuple1 = ('A','B','C')
tuple1

('A', 'B', 'C')

In [2]:
tuple2 = ('some values',[1,2,3,4], 50.2)
tuple2

('some values', [1, 2, 3, 4], 50.2)

- **Accessing elements**

In [3]:
tuple1[0]

'A'

In [4]:
tuple1[0:2]

('A', 'B')

In [5]:
tuple1[-1]

'C'

- **Compare with list**

In [6]:
#Tuples are also iterable objects. 
for i in tuple1:
    print(i)

A
B
C

In [7]:
#Tuple is immutable
tuple2[0] = "new values"

TypeError: 'tuple' object does not support item assignment

- **Packing and unpacking**

In [8]:
student_info = ('Anna', 'anna@bi.no', 20, 2021)

In [9]:
name, email, age, year = student_info

In [10]:
print(name, email, age, year, sep = "\n" )

Anna
anna@bi.no
20
2021

## Exercise.A

**(A.1) Create a tuple named <code>company_info</code> that contains the following elements. Print out the tuple.**
- Mircrosoft
- Software
- Bill Gates
- 182268

In [2]:
company_info = ("Microsoft","Software","Bill Gates", 182268)
print(company_info)

('Microsoft', 'Software', 'Bill Gates', 182268)

**(A.2) Print out the last two elements in <code>company_info</code>.**

In [4]:
company_info[2:]

('Bill Gates', 182268)

**(A.3) Assign the values in <code>company_info</code> into four variables: <code>company_name</code>, <code>industry</code>, <code>founder</code>,<code>employees</code>. Print out these variables.**

In [7]:
company_name, industry, founder,employees = company_info
print(company_name, industry, founder,employees, sep = "\n")

Microsoft
Software
Bill Gates
182268

## [2] Set

- **Creation**

In [10]:
set1 = {1,2,2,2,3,3,3,3}
set1

{1, 2, 3}

In [12]:
set2 = {'abc',(1,2,3), 50.2}
set2

{(1, 2, 3), 50.2, 'abc'}

In [11]:
set2 = {'abc',[1,2,3], 50.2}

TypeError: unhashable type: 'list'

- **Accessing elements**

In [13]:
set1[0]

TypeError: 'set' object is not subscriptable

In [14]:
# use a for loop
for i in set1:
    print(i)

1
2
3

- **Compare with list**

In [15]:
mylist = ['A','B','B','A','C','C','A','B','C','B','A','C','A','B']

In [16]:
myset = set(mylist)
myset

{'A', 'B', 'C'}

- **Methods - union, intersection, difference**

In [17]:
setA = {1,2,3,4,5}
setB = {3,4,5,6,7,8}

In [18]:
# Return a set containing the union of sets
setA.union(setB)

{1, 2, 3, 4, 5, 6, 7, 8}

In [19]:
# Returns a set, that is the intersection of two other sets
setA.intersection(setB)

{3, 4, 5}

In [20]:
# Returns a set containing the difference between two or more sets
setA.difference(setB)

{1, 2}

In [21]:
setB.difference(setA)

{6, 7, 8}

## Exercise.B

**(B.1) Student A and student B choose the following courses for the next semester. Print out all the courses they will take together**
- student A: ELE0505, ELE3400, ELE1295, ELE7163, ELE9145
- student B: ELE0099, ELE7163, ELE0705, ELE3400, ELE6027

In [12]:
setA = {'ELE0505', 'ELE3400', 'ELE1295', 'ELE7163', 'ELE9145'}
setB = {'ELE0099', 'ELE7163', 'ELE0705', 'ELE3400', 'ELE6027'}
setA.intersection(setB)

{'ELE3400', 'ELE7163'}

**(B.2) Get all the unique letters from the following list and store them in a new variable <code>myset</code>.**

In [14]:
mylist = ['a','c','e','b','c','b','a','e','d','e','d','a','e','d','b','c','d']

In [15]:
myset = set(mylist)
myset

{'a', 'b', 'c', 'd', 'e'}

**(B.3) Use <code>mylist</code> and <code>myset</code> in (B.2). Calculate the frequency of each letter.**<br>
Expected result:<br>
b:3 <br>
d:4 <br>
e:4 <br>
...

In [17]:
for i in sorted(myset):
    freq = mylist.count(i)
    print("{}: {}".format(i,freq))

a: 3
b: 3
c: 3
d: 4
e: 4

## [3] Dictionary

### [3.1] Basics

- **Creation**

In [22]:
dict1 = {'S01':7.5, 'S02':8.0, 'S03':6.5}
dict1

{'S01': 7.5, 'S02': 8.0, 'S03': 6.5}

In [23]:
# A dictionary key can be any immutable data type
dict2 = {'a':'test1', 1:'test2', 0.5: 'test3'}
dict2

{'a': 'test1', 1: 'test2', 0.5: 'test3'}

In [24]:
# A dictionary values can be of any data type
dict3 = {'k1':'abc', 'k2':10, 'k3':[1,2], 'k4':(3,4),'k5':{5,6}}
dict3

{'k1': 'abc', 'k2': 10, 'k3': [1, 2], 'k4': (3, 4), 'k5': {5, 6}}

- **Access value by key**

In [25]:
S01_info = {'Name':'Anna', 'Email':'anna@bi.no', 'Age':20, 'Year':2021}
S01_info

{'Name': 'Anna', 'Email': 'anna@bi.no', 'Age': 20, 'Year': 2021}

In [26]:
S01_info['Email']

'anna@bi.no'

- **Operations**

In [27]:
dict1 = {'S01':7.5, 'S02':8.0, 'S03':6.5}
dict1

{'S01': 7.5, 'S02': 8.0, 'S03': 6.5}

In [28]:
# Add a key-value pair
dict1['S04'] = 7.0
dict1

{'S01': 7.5, 'S02': 8.0, 'S03': 6.5, 'S04': 7.0}

In [29]:
# Delete a key-value pair
del dict1['S01']
dict1

{'S02': 8.0, 'S03': 6.5, 'S04': 7.0}

In [30]:
# Modify the value
dict1['S02'] = 9.0
dict1

{'S02': 9.0, 'S03': 6.5, 'S04': 7.0}

### [3.2] Methods

- **Get keys and values**

In [31]:
S01_info.keys()

dict_keys(['Name', 'Email', 'Age', 'Year'])

In [32]:
S01_info.values()

dict_values(['Anna', 'anna@bi.no', 20, 2021])

In [33]:
S01_info.items()

dict_items([('Name', 'Anna'), ('Email', 'anna@bi.no'), ('Age', 20), ('Year', 2021)])

- **Loop through a dictionary**

In [34]:
# Print all keys in the dictionary
for key in S01_info.keys():
    print(key)

Name
Email
Age
Year

In [35]:
# Print all values in the dictionary
for value in S01_info.values():
    print(value)

Anna
anna@bi.no
20
2021

In [36]:
# Print all items in the dictionary
for items in S01_info.items():
    print(items)

('Name', 'Anna')
('Email', 'anna@bi.no')
('Age', 20)
('Year', 2021)

In [37]:
# Print all keys and values in the dictionary
for key, value in S01_info.items():
    print("The key is '{}' and the value is '{}.'".format(key, value))

The key is 'Name' and the value is 'Anna.'
The key is 'Email' and the value is 'anna@bi.no.'
The key is 'Age' and the value is '20.'
The key is 'Year' and the value is '2021.'

- **Create a dictionary from a list of keys**

In [38]:
id_list = ["S01", "S02", "S03", "S04", "S05"]

In [39]:
# All initial values are 0
score_dict =  dict.fromkeys(id_list,0)
score_dict

{'S01': 0, 'S02': 0, 'S03': 0, 'S04': 0, 'S05': 0}

In [40]:
info_list = ['Name', 'Email', 'Age', 'Year']

In [41]:
# All initial values are None
info_dict = dict.fromkeys(info_list)
info_dict

{'Name': None, 'Email': None, 'Age': None, 'Year': None}

In [19]:
a = dict()
a

{}

In [25]:
a = {}
type(a)

dict

In [20]:
b = list()
b

[]

In [24]:
b = []
type(b)

list

In [21]:
c = set()
c

set()

In [23]:
d = tuple()
type(d)

tuple

## Exercise.C

**(C.1) Create a dictionary with <code>studentID</code> as the key and <code>score list</code> as the value. Print out the dictionary.**<br>

In [27]:
#studentID: S01, S02, S03
S01_score = [7.0, 8.5, 7.5]
S02_score = [6.5, 7.5, 8.0]
S03_score = [8.0, 7.0, 7.0]

In [29]:
mydict = {"S01": S01_score, "S02": S02_score, "S03": S03_score}
mydict

{'S01': [7.0, 8.5, 7.5], 'S02': [6.5, 7.5, 8.0], 'S03': [8.0, 7.0, 7.0]}

**(C.2) Print out the score list of student <code>S02</code>.**

In [30]:
mydict["S02"]

[6.5, 7.5, 8.0]

## [4] Zip

- **Use <code>zip</code> to produce tuples**

In [31]:
ID_list = ['S01', 'S02', 'S03', 'S04', 'S05']
score_list = [7.0, 6.5, 9.0, 8.0, 7.5]

In [32]:
myzip = zip(ID_list, score_list)
print(type(myzip))

<class 'zip'>

In [33]:
for item in myzip:
    print(item)

('S01', 7.0)
('S02', 6.5)
('S03', 9.0)
('S04', 8.0)
('S05', 7.5)

In [34]:
for item in myzip:
    print(item)

- **Create a list of tuples from two lists**

In [45]:
# step1: Create a zip object
myzip = zip(ID_list, score_list)

In [46]:
# step2: Convert zip object to list
mylist = list(myzip)
mylist

[('S01', 7.0), ('S02', 6.5), ('S03', 9.0), ('S04', 8.0), ('S05', 7.5)]

- **Create a dictionary from two lists**

In [47]:
# step1: Create a zip object
myzip = zip(ID_list, score_list)

In [48]:
# step2: Convert zip object to dictionary
mydict = dict(myzip)
mydict

{'S01': 7.0, 'S02': 6.5, 'S03': 9.0, 'S04': 8.0, 'S05': 7.5}

## [5] List Comprehension

- **Uses a shorter syntax to create a new list**

In [49]:
square_list = []
for i in range(1,6):
    square_list.append(i**2)

print(square_list)

[1, 4, 9, 16, 25]

In [50]:
square_list = [i**2 for i in range(1,6)]
print(square_list)

[1, 4, 9, 16, 25]

- **Create a new list based on the existing list**

In [51]:
score_list = [5,5,6,8,4,10,9,7,8]
pass_list = []
for s in score_list:
    if s >= 6:
        pass_list.append(s)
        
print(pass_list)

[6, 8, 10, 9, 7, 8]

In [52]:
# List comprehension
pass_list = [s for s in score_list if s >=6]
pass_list

[6, 8, 10, 9, 7, 8]

- **A list of tuples**

In [53]:
# create a list of tuples
ID_list = ['S01', 'S02', 'S03', 'S04', 'S05']
score_list = [7.0, 5.5, 9.0, 5.0, 7.5]
mylist = list(zip(ID_list, score_list))
mylist

[('S01', 7.0), ('S02', 5.5), ('S03', 9.0), ('S04', 5.0), ('S05', 7.5)]

In [54]:
# use list comprehension to create a new list
pass_list = [student for student in mylist if student[1] >=6]
pass_list

[('S01', 7.0), ('S03', 9.0), ('S05', 7.5)]

## Exercise.D

**(D.1) Use the following lists to create a zip object.**<br>

In [35]:
product_list = ["A","B","C","D","E"]
price_list = [100, 50, 20, 80, 90]

In [37]:
myzip = zip(product_list, price_list)
type(myzip)

zip

**(D.2) Use the zip object obtained in (D.1) to create a list of tuples. Print out the list.**<br>

In [38]:
mylist = list(myzip)
print(mylist)

[('A', 100), ('B', 50), ('C', 20), ('D', 80), ('E', 90)]

**(D.3) Select products with a price of less than 60 and store them in a new list.**<br>
Expected result:
<code>
[('B', 50), ('C', 20)]
</code>

In [39]:
new_list = [t for t in mylist if t[1] < 60]
new_list

[('B', 50), ('C', 20)]