# Loops Statements
**[1] Updating variables**<br>
**[2] While loops**<br>
    - Updating variables<br>
    - Break & continue<br>
    - Infinite loops<br>
**[3] For loops**<br>
    - Iterable objects<br>
    - Updating variables<br>
    - Break & continue<br>
    - Applications<br>
    - Nested loops

## [1] Updating variables

In [ ]:
x = 10
x = x + 1  #same as x+=1
print (x)
x = x + 1
print (x)
x = x + 1
print (x)

In [ ]:
x = 10
x = x - 1  #same as x-=1
print (x)
x = x - 1
print (x)
x = x - 1
print (x)

## [2] While loop

### [2.1] Updating variables

- **<code>while</code>**

In [ ]:
n = 5
while n > 0:
    print(n)
    n = n - 1

- **<code>while, else</code>**

In [ ]:
n = 5
while n > 0:
    print(n)
    n = n - 1
else:
    print("Blastoff!")

## Excercies.A

**(A.1) Define a variable <code>n=1</code>. Write a program to print out the following results.**
<code>
1
2
3
4
5
</code>

**(A.2) Define a variable <code>n=2</code>. Write a program to print out the following results.**
<code>
2
4
6
8
10
done
</code>

### [2.2] Break & continue

- **break**

In [ ]:
n = 0
while n<10:
    n = n + 1
    if n==5:
        break   
    print(n)

- **continue**

In [ ]:
n = 0
while n<10:
    n = n + 1
    if n==5:
        continue 
    print(n)

- **Infinite loops**

In [ ]:
n = 10
while True:
    print(n)
    n = n - 1
print('Done!')

## Exercise.B

**(B.1) Assume you have a part-time job with a daily income of 300 kr, and your goal is to reach a total of 2500 kr. You work for two days, then have a day off, and continue this pattern until you reach or exceed your target income of 2500 kr. Write a program using a while loop to calculate and print out the cumulative income for each working day until you reach your goal.**<br>

Expected output:<br>
Day-1: 300<br>
Day-2: 600<br>
Day-4: 900<br>
Day-5: 1200<br>
...<br>
Day-13: 2700<br>

## [3] For loop

### [3.1] Iterable objects - string, list and range

- **string**

In [ ]:
mystr = "python"
for i in mystr:
    print(i)

- **list**

In [ ]:
mylist = [5, 4, 3, 2, 1]
for i in mylist:
    print(i)

In [ ]:
mylist = ['John', 'Leo', 'Emma']
for i in mylist:
    print('Happy New Year,', i)

- **range**

In [ ]:
for i in range(10):  #same as range(0,10)
    print(i)

In [ ]:
for i in range(1,5):
    print(i)

In [ ]:
for i in range(5):
    print("hello world")

## Exercise.C

**(C.1) Given the list below, use a for loop to generate the following output for each item in the list.**<br>

Expected result:<br>
Apple has been added to your shopping cart.<br>
Yogurt has been added to your shopping cart.<br>
Avocado has been added to your shopping cart.<br>
Salmon has been added to your shopping cart.<br>

In [ ]:
item_list = ["Apple", "Yogurt", "Avocado", "Salmon"]

**(C.2) Print a sequence of numbers from 15 to 25 on one line.**<br>
Expected result:<br>
15 16 17 18 19 20 21 22 23 24 25

### [3.2] Updating variables

In [ ]:
# Initialise a variable
x = 0

# For each iteration, we update the variable "x"
for i in range(0,5):
    x = x + i
    print(x)

In [ ]:
# Each item represents the number of confirmed cases per day
covid_list = [10, 15, 12, 10, 18] 

# Initialise a variable (cumulative number of cases)
cum_case = 0

# For each iteration, we update the variable "cum_case"
for daily_case in covid_list:
    cum_case = cum_case + daily_case
    print(cum_case)

## Exercise.D

**(D.1) You have taken five consecutive daily quizzes, and you want to calculate your cumulative score for each day. Given  the following list of quiz scores for each day, use a for loop to print out the cumulative score of each day.**<br>
Expected result:
<code>
15
25
38
55
67
</code>

In [ ]:
scores = [15, 10, 13, 17, 12]

### [3.3] Break & continue

- **break**

In [ ]:
for i in range(0,10):
    if i == 5:
        break
    print(i)

- **continue**

In [ ]:
for i in range(0,10):
    if i == 5:
        continue
    print(i)

### [3.4] Applications

- **Adding up**

In [ ]:
# Initialise a variable
total = 0

# For each iteration, we update the variable "total"
for n in range(1,11):
    total = total + n
    print(total)

- **Counter**

In [ ]:
animal_list = ['dog', 'dog', 'cat', 'dog', 'cat', 'cat', 'dog', 'cat', 'dog', 'cat']

# Initialise a variable
counter = 0

# For each iteration, we update the variable "counter"
for animal in animal_list:
    if animal == 'dog':
        counter = counter +1
    
print('# of dogs:', counter)

- **Find the maximum number**

In [ ]:
price_list = [100, 450, 200, 250, 300, 500, 150]

# Initialise a variable
max_price = price_list[0]


# For each iteration, if the test is true, we update the variable "max_price"
for price in price_list:
    if price > max_price:
        max_price = price

print("Maximum:", max_price)

## Exercise.E

**(E.1) Print all numbers from the list <code>numbers</code> until you encounter a number that is divisible by 7.**

In [ ]:
numbers = [88, 36, 139, 12, 24, 158, 29, 16, 152, 98, 45, 184, 191, 92, 117]

**(E.2) Given the following list. How many names start with "S"?**<br>
Hint: Initialize a variable as a counter.

In [ ]:
name_list = ["Henry", "Victoria", "Isaac", "Sara", "Maya", "Zoe", "Isabelle", "Nora", "Madelyn", 
             "Sophia", "Charlotte", "Michael", "Sebastian", "Leah", "Ryan", 'Matthew', "Mila"]

### [3.5] Nested loops

In [ ]:
list_1 = ["A", "B", "C"]
list_2 = [1, 2, 3, 4]

for i in list_1:
    for j in list_2:
        print(i, j)

In [ ]:
for i in range(1,4):
    for j in range(1,4):
        print (f"{i}-{j}")

In [ ]:
# Start a new line after each iteration of the outer for loop.
for i in range(1,4):
    for j in range(1,4):
        print (f"{i}-{j}", end = " ")
    print()  #same as print(end = "\n")

## Exercise.F

**(F.1) Suppose you want to order a drink and a dessert, print out all possible combinations.**<br>

Example:<br>
Tea & Carrot cake<br>
Tea & Lemon tart<br>
...<br>
...<br>
Juice & Cheesecake<br>

In [ ]:
menu_drink = ["Tea", "Coffee", "Juice"]
menu_dessert = ["Carrot cake", "Lemon tart", "Tiramisu", "Cheesecake"]

**(F.2) Write a program to print out the following results.**
<code>
1+1=2
1+2=3
1+3=4
2+1=3
2+2=4
2+3=5
3+1=4
3+2=5
3+3=6
</code>