## Dictionay, Tuple and Set

**[1] Tuple**<br>
**[2] Set**<br>
**[3] Dictionary**<br>
**[4] Zip function**<br>

## [1] Tuple
Tuple elements are ordered, immutable, and allow duplicate elements.

- **Creation**

In [ ]:
tuple1 = ('A','B','C')
print(tuple1)

In [ ]:
tuple2 = ('Python', [1,2,3,4], 50.2)
print(tuple2)

- **Accessing elements**

In [ ]:
tuple1[0]

In [ ]:
tuple1[0:2]

In [ ]:
tuple1[-1]

- **Compare with list**

In [ ]:
#Tuples are also iterable objects. 
for i in tuple1:
    print(i)

In [ ]:
#Tuples are immutable
tuple2[0] = "new values"

- **Packing and unpacking**

In [ ]:
tuple_info = ('Anna', 'anna@bi.no', 20, 2021)

In [ ]:
name, email, age, year = tuple_info

In [ ]:
print(name, email, age, year, sep = "\n" )

## Exercise.A

**(A.1) Create a tuple named <code>timestamp</code> that contains the following three elements: 5, "Oct", 2023. Print out the tuple.**

**(A.2) Print out the last element in <code>timestamp</code>.**

**(A.3) Assign the values from <code>timestamp</code> to three variables named: day, month, year. Print out these variables.**

## [2] Set
Set elements are unordered, mutable, and only unique elements are allowed.

- **Creation**

In [ ]:
set1 = {1,2,3}
print(set1)

In [ ]:
set2 = {'abc',(1,2,3), 50.2}
print(set2)

- **Accessing elements**

In [ ]:
# use a for loop
for i in set1:
    print(i)

- **Compare with list**

In [ ]:
mylist = ['A','B','B','A','C','C','A','B','C','B','A','C','A','B']

In [ ]:
myset = set(mylist)
print(myset)

- **Methods - union, intersection, difference**

In [ ]:
setA = {1,2,3,4,5}
setB = {3,4,5,6,7,8}

In [ ]:
# Return a set containing the union of sets
setA.union(setB)

In [ ]:
# Returns a set, that is the intersection of two other sets
setA.intersection(setB)

In [ ]:
# Returns a set containing the difference between two or more sets
setA.difference(setB)

In [ ]:
setB.difference(setA)

## Exercise.B

**(B.1) Student A and student B have chosen the following courses for the next semester. Store their chosen courses in two sets named <code>set_a</code> and <code>set_b</code>. Print out these two sets.**
- student A: ELE0505, ELE3400, ELE1295, ELE7163, ELE9145
- student B: ELE0099, ELE7163, ELE0705, ELE3400, ELE6027

**(B.2) Which courses will they take together?**

## [3] Dictionary
A dictionary is an unordered map-like structure. Unlike lists that store elements in an ordered sequence, dictionaries use key-value pairs instead.

### [3.1] Basics

- **Creation**

In [ ]:
dict1 = {'S01':7.5, 'S02':8.0, 'S03':6.5}
print(dict1)

In [ ]:
# A dictionary key can be any immutable data type
dict2 = {'a':'test1', 1:'test2', 0.5: 'test3'}
print(dict2)

In [ ]:
dict3 = {'k1':'abc', 'k2':10, 'k3':[1,2], 'k4':(3,4),'k5':{5,6}}
print(dict3)

In [ ]:
# A dictionary values can be of any data type
dict3 = {'k1':'abc', 'k2':10, 'k3':[1,2], 'k4':(3,4),'k5':{5,6}}
print(dict3)

- **Access value by key**

In [ ]:
S01_info = {'Name':'Anna', 'Email':'anna@bi.no', 'Age':20, 'Year':2021}
print(S01_info)

In [ ]:
S01_info['Email']

- **Operations**

In [ ]:
dict1 = {'S01':7.5, 'S02':8.0, 'S03':6.5}
print(dict1)

In [ ]:
# Add a key-value pair
dict1['S04'] = 7.0
print(dict1)

In [ ]:
# Delete a key-value pair
del dict1['S01']
print(dict1)

In [ ]:
# Modify the value
dict1['S02'] = 9.0
print(dict1)

### [3.2] Methods

- **Get keys and values**

In [ ]:
S01_info.keys()

In [ ]:
S01_info.values()

In [ ]:
S01_info.items()

- **Loop through a dictionary**

In [ ]:
# Print all keys in the dictionary
for key in S01_info.keys():
    print(key)

In [ ]:
# Print all values in the dictionary
for value in S01_info.values():
    print(value)

In [ ]:
# Print all items in the dictionary
for items in S01_info.items():
    print(items)

In [ ]:
# Print all keys and values in the dictionary
for key, value in S01_info.items():
    print(f"key: {key}; value: {value}")

## Exercise.C

**(C.1) Define a dictionary based on the following table. Print out the dictionary.**<br>
- **Key**: Student_ID.
- **Value**: A list of three scores.

|Student_ID|Score for Test-1|Score for Test-2|Score for Test-3|
|:-:|:-:|:-:|:-:|
|S01|70| 85| 75|
|S02|65| 75| 80|
|S03|80| 70| 60|

**(C.2) Print out the score list of student <code>S02</code>.**

**(C.3) Print the second test scores for all students.**<br>
Expected result:<br>
S01: 85<br>
S02: 75<br>
S03: 70

## [4] Zip function

- **Use <code>zip()</code> to create a zip object containing a set of tuples**

In [ ]:
ID_list = ['S01', 'S02', 'S03', 'S04', 'S05']
score_list = [7.0, 6.5, 9.0, 8.0, 7.5]

In [ ]:
zipped = zip(ID_list, score_list)
print(type(zipped))

In [ ]:
for item in zipped:
    print(item)

- **Create a list of tuples from two lists**

In [ ]:
# step1: Create a zip object
zipped = zip(ID_list, score_list)

In [ ]:
# step2: Convert zip object to list
list1 = list(zipped)
print(list1)

- **Create a dictionary from two lists**

In [ ]:
# step1: Create a zip object
zipped = zip(ID_list, score_list)

In [ ]:
# step2: Convert zip object to dictionary
dict1 = dict(zipped)
print(dict1)

## Exercise.D

**(D.1) Product names and their prices are stored in the following lists. Create a zip object using these lists.**<br>

In [ ]:
product_list = ["A","B","C","D","E"]
price_list = [100, 50, 20, 80, 90]

**(D.2) Convert the zip object obtained in (D.1) to a list. Print out the list.**<br>

**(D.3) Print out all products priced below 60.**<br>
Expected result:<br>
('B', 50)<br>
('C', 20)<br>